@charset "utf-8";

/* Responsive styles
-------------------------------------------------------------- */

/*
Apple iPhone 5, 5S & 5C 
Apple iPod Touch (5th generation)
*/
/* With side menu
@media (min-width: 1366px) and (max-width: 1679px) {
*/
/* Without side menu */
@media (min-width: 1136px) and (max-width: 1279px) {
/*	html, body {	font-size: 14px; }*/
}


/*
Apple iPhone 4 & 4S
Apple iPod Touch (4th generation)
*/
/* With side menu
@media (min-width: 1280px) and (max-width: 1365px) {
*/
/* Without side menu */
@media (min-width: 960px) and (max-width: 1135px) {
/*	html, body {	font-size: 13px; }
	h1 { font-size:3em; }		 39px 
	h2 { font-size:2.3077em; }	 30px 
	h3 { font-size:2.3077em; }	 30px 
	h4 { font-size:1.3846em; }	 18px 
	h5 { font-size:1.2308em; }	 16px 
	h6 { font-size:1em; }		 13px */

/*	 Post layouts 
	.isotope_filters a {
		font-size:0.8461em;
	}
	
	 Post parts 
	.post_info {
		font-size:0.8461em;
	}
	.post_info {
		font-size:0.8461em;
	}
	.post_rating .reviews_star {
		font-size:1em;
	}
	.post_item_colored .post_category {
		font-size:1em;
		margin:0 0 0.4em;
	}
	.post_item_colored .post_descr .post_price_period {
		font-size:1em;
	}
	.post_item_colored .post_descr .post_price_value {
		font-size:1.3846em;
	}
	
	 Footer 
	.contacts_wrap .contacts_address {
		font-size: 1em;
	}
	
	 Widgets 
	.widget_area .post_item .post_info {
		font-size:0.7692em;
	}
	.widget_area .widget_tag_cloud a {
		font-size:0.8461em !important;
	}
	.widget_area .widget_calendar .weekday {
		font-size:0.8461em;
	}
	
	 Shortcodes 
	.sc_testimonial_content {
		font-size:1.25em;
	}
	.sc_testimonial_author {
		font-size: 1em;
	}*/
	
}



/*
Sony Xperia
LG Optimus
Blackberry Storm 3, Torch 9850 & Torch 9860
Nokia Lumia 610, 710 & 800
HTC Desire, Desire Z, Desire S & One V
Samsung Galaxy
*/
/* With side menu
@media (min-width: 768px) and (max-width: 1279px) {
*/
/* Without side menu */
@media (min-width: 768px) and (max-width: 959px) {
/*	html, body {	font-size: 13px; }
	h1 { font-size:3em; }		 39px 
	h2 { font-size:2.3077em; }	 30px 
	h3 { font-size:2.3077em; }	 30px 
	h4 { font-size:1.3846em; }	 18px 
	h5 { font-size:1.2308em; }	 16px 
	h6 { font-size:1em; }		 13px */

/*	 Post layouts 
	.isotope_filters a {
		font-size:0.8461em;
	}
	
	 Post parts 
	.post_info {
		font-size:0.8461em;
	}
	.post_info {
		font-size:0.8461em;
	}
	.post_rating .reviews_star {
		font-size:1em;
	}
	.post_item_colored .post_category {
		font-size:1em;
		margin:0 0 0.4em;
	}
	.post_item_colored .post_descr .post_price_period {
		font-size:1em;
	}
	.post_item_colored .post_descr .post_price_value {
		font-size:1.3846em;
	}
	
	 Footer 
	.contacts_wrap .contacts_address {
		font-size: 1em;
	}
	
	 Widgets 
	.widget_area .post_item .post_info {
		font-size:0.7692em;
	}
	.widget_area .widget_tag_cloud a {
		font-size:0.8461em !important;
	}
	.widget_area .widget_calendar .weekday {
		font-size:0.8461em;
	}
	.widget_area .reviews_block .reviews_summary .reviews_criteria {
		font-size:0.7692em;
	}
	
	 Shortcodes 
	input[type="submit"], input[type="button"], button, .sc_button {
		padding: 0.75em;
	}
	.sc_testimonial_content {
		font-size:1.25em;
	}
	.sc_testimonial_author {
		font-size: 1em;
	}*/
	
}



/*
Portrait orientation

Sony Xperia
LG Optimus
Blackberry Storm 3, Torch 9850 & Torch 9860
Nokia Lumia 610, 710 & 800
HTC Desire, Desire Z, Desire S & One V
Samsung Galaxy
*/
@media (min-width: 480px) and (max-width: 767px) {
/*	html, body {	font-size: 12px; }
	h1 { font-size:2.5em; }		 30px 
	h2 { font-size:2em; }		 24px 
	h3 { font-size:2em; }		 24px 
	h4 { font-size:1.3333em; }	 16px 
	h5 { font-size:1.1667em; }	 14px 
	h6 { font-size:1em; }		 12px */
	
/*	 Post layouts 
	.isotope_filters a {
		font-size:0.8333em;
	}
	
	 Post parts 
	.post_info {
		font-size:0.8333em;
	}
	.post_info {
		font-size:0.8333em;
	}
	.post_rating .reviews_star {
		font-size:1em;
	}
	.post_item_colored .post_category {
		font-size:1em;
		margin:0 0 0.4em;
	}
	.post_item_colored .post_descr .post_price_period {
		font-size:1em;
	}
	.post_item_colored .post_descr .post_price_value {
		font-size:1.3333em;
	}
	
	 Footer 
	.contacts_wrap .contacts_address {
		font-size: 1em;
	}
	
	 Widgets 
	.widget_area .post_item .post_info {
		font-size:0.75em;
	}
	.widget_area .widget_tag_cloud a {
		font-size:0.8333em !important;
	}
	.widget_area .widget_calendar .weekday {
		font-size:0.8333em;
	}
	.widget_area .reviews_block .reviews_summary .reviews_criteria {
		font-size:0.75em;
	}
	
	 Shortcodes 
	input[type="submit"], input[type="button"], button, .sc_button {
		padding: 0.7em 0.6em;
	}
	.sc_testimonial_content {
		font-size:1.25em;
	}
	.sc_testimonial_author {
		font-size: 1em;
	}
	.sc_tabs .sc_tabs_titles li {
		font-size:1.25em;
	}
	.sc_tabs.sc_tabs_style_2 .sc_tabs_titles li a {
		border-width: 1px;
	}	*/
}




/*
Very common low res
*/
@media (max-width: 479px) {
/*	html, body {	font-size: 12px; }
	h1 { font-size:2.5em; }		 30px 
	h2 { font-size:2em; }		 24px 
	h3 { font-size:2em; }		 24px 
	h4 { font-size:1.3333em; }	 16px 
	h5 { font-size:1.1667em; }	 14px 
	h6 { font-size:1em; }		 12px */
	
/*	 Post layouts 
	.isotope_filters a {
		font-size:0.8333em;
	}
	
	 Post parts 
	.post_info {
		font-size:0.8333em;
	}
	.post_info {
		font-size:0.8333em;
	}
	.post_rating .reviews_star {
		font-size:1em;
	}
	
	.post_item_colored .post_category {
		font-size:1em;
		margin:0 0 0.4em;
	}
	.post_item_colored .post_descr .post_price_period {
		font-size:1em;
	}
	.post_item_colored .post_descr .post_price_value {
		font-size:1.3333em;
	}
	
	
	 Footer 
	.contacts_wrap .contacts_address {
		font-size: 1em;
	}
	
	 Widgets 
	.widget_area .post_item .post_info {
		font-size:0.75em;
	}
	.widget_area .widget_tag_cloud a {
		font-size:0.8333em !important;
	}
	.widget_area .widget_calendar .weekday {
		font-size:0.8333em;
	}
	.widget_area .reviews_block .reviews_summary .reviews_criteria {
		font-size:0.75em;
	}
	
	 Shortcodes 
	input[type="submit"], input[type="button"], button, .sc_button {
		padding: 0.7em 0.6em;
	}
	blockquote {
		font-size: 1.5em;
	}
	.sc_countdown.sc_countdown_style_1 .sc_countdown_digits,
	.sc_countdown.sc_countdown_style_1 .sc_countdown_separator {
		font-size:2em;
		height: 1.9em;
		line-height:1.9em;
	}
	.sc_countdown.sc_countdown_style_1 .sc_countdown_digits {
		width: 1.9em;
	}
	.sc_countdown.sc_countdown_style_2 .sc_countdown_digits,
	.sc_countdown.sc_countdown_style_2 .sc_countdown_separator {
		font-size:2em;
	}
	.sc_testimonial_content {
		font-size:1.25em;
	}
	.sc_testimonial_author {
		font-size: 1em;
	}
	.sc_tabs .sc_tabs_titles li {
		font-size:1.25em;
	}
	.sc_tabs.sc_tabs_style_2 .sc_tabs_titles li a {
		border-width: 1px;
	}	*/
}