@charset 'utf-8';
/*
Theme Name: yreg Estate
Theme URI: http://estate.axiomthemes.com
Description: yreg Estate - Multipurpose and Multiskin Responsive Wordpress theme
Author: ThemeRex
Author URI: http://axiomthemes.com
Template: yreg-estate
Version: 1.0
Tags: light, responsive-layout, flexible-header, accessibility-ready, custom-background, custom-colors, custom-menu, featured-image-header, featured-images, full-width-template, post-formats, theme-options, threaded-comments, translation-ready
*/

@import url("../yreg-estate/style.css");

/* =Theme customization starts here
-------------------------------------------------------------- */

.ps_single_info .property_price_box {
    background: #EBCA00;
        
}

.contacts_emailer_wrap {
    background: #EBCA00 !important;
        
}

.property_price_box {
    background: rgb(235,202,0) !important;
    opacity: 1 !important;
        
}

a:hover{
    color: #cccccc !important;
        
}

.scheme_dark 
.sc_services_style_services-1 
.sc_services_item > a:hover > span{
    background:rgba(235,202,0,0.7) !important;;
    border: 1px solid rgba(235,202,0,0.7) !important;
    
}

span.sc_list_icon.icon-stop::before{
    color:#ebca00;
    
}

/*.sc_property.sc_property_style_property-1 
.sc_property_info .sc_property_description,
.content > .sc_property_item .sc_property_info .sc_property_description{
    color:#fff !important;
    
}*/

.sc_button_box.sc_button_style_style2:hover{
    background: #B89F04 !important;
    color: #3F4077!important;
    font-weight: bold;
}

.sc_button_box.sc_button_style_style2{
    background: #EBCA00 !important;
    color: #3F4077!important;
    font-weight: bold;
}

.menu_main_nav>li>a{
    font-size:1em !important;
}

.menu_main_nav>li>a:hover, 
.menu_main_nav>li.sfHover>a, 
.menu_main_nav>li#blob, .menu_main_nav>li.current-menu-item>a, 
.menu_main_nav>li.current-menu-parent>a, 
.menu_main_nav>li.current-menu-ancestor>a{
    border-bottom: 5px solid;
}

.top_panel_wrap li ul li{
    margin: 0px 0px 0 0 !important;
}
.top_panel_wrap li{
    margin: 0px 15px 0 0 !important;
}

.top_panel_wrap ul{
    margin:0px 0px 0px 0px;
}

.menu_main_nav > li ul{
    background-color: rgba(255, 255, 255,1) !important;
}

.scheme_original .top_panel_wrap_inner {
    background-color: rgba(255, 255, 255,1) !important;
}

.top_panel_inner_style_1 .menu_main_nav > li > a{
    color:#3F4077 !important;
}

.menu_main_nav > li > a {
    font-weight: bold;
    margin-right: 2.5em;
    padding: 15px 7px 14px 0;
    color:#3F4077 !important;
}

a{
    transition:all -0.1s ease 0s;
}


.top_panel_contacts_right strong,
.top_panel_contacts_right,
.top_panel_wrap{
    color:#3F4077;
}

.sc_services_style_services-1 .sc_services_item > a{
    display: inline-block;
    color: #ebca00 !important;
}

.sc_services_style_services-1 .sc_services_item > a :hover{
    color:#504d67;

}

.sc_title_icon{
    color:#828ad7 !important;
}

.sc_list_style_iconed li .sc_list_icon{
    color:#828ad7 !important;
}

.accent1h{
    color:#828ad7 !important;
}

div.vc_row.wpb_row.vc_row-fluid.vc_general.vc_parallax.vc_parallax-content-moving{
    background:#504d67 !important;
}

.copyright_style_text{
    text-align:left;
}

.copyright_text{
    margin:-23px;
}

span#calvani_link{
    display:block;
    text-align: right;
}

span#calvani_link a{
    color:#999ca9;
}

.contacts_wrap .column-2_4{
    padding-bottom:1.429em;
}

.footer_wrap_inner{
    padding:1.929em 0 0;
}

div.column-1_4.show_logo_footer{
    margin-top: 40px;
}

div.column-1_4.show_logo_footer img{
    margin-left: 10px;
    margin-right: 10px;
}

.top_panel_title_inner .page_title{
    color: #fff;
    text-transform: uppercase;
}

.top_panel_inner_style_1 .menu_main_nav > li ul li.current-menu-item > a,
.top_panel_inner_style_1 .menu_main_nav > li ul li a:hover{
    color:#fff !important;
}

.top_panel_inner_style_1 .menu_main_nav > li ul li a{
    color:#3F4077 !important;
    font-weight: bold;
}

.top_panel_menu{
    margin:-6px 0 0 0 !important;
}

.menu_main_nav > li.menu-item-has-children > a:after{
    color:#3F4077 !important;
}

.menu_main_nav > li > ul{
    top:3.8em !important;
}

.h5ab-print-button-right{
    float:right!important;
    z-index:10;
    margin-top:15px !important;
}

#sb-body-inner{
    background-color: #fff !important;
    z-index:40;
    padding-left:15%;
    padding-top:50px;
}

.menu_main_nav_area{
    z-index:20!important;
}
div#lista_contatti_mail p,div#lista_telefoni p, div.footer-widget-contacts{
    font-size:13px;
}
div#lista_contatti_mail,div#lista_telefoni{
    width: 260px;
    padding-right:0px;
}
 
div.vc_column_container{
    margin-bottom:30px;
}

aside.af_TellaFriend_widget span{
    padding: 14px 29px 14px 29px;
    background:#4a4cb3;
    border-radius:5px;
    font-size:13px;
    width: 79%;
    display: block;
    text-align: center;
}



aside#yreg_estate_widget_recent_posts-2 article.post_item.first{
    margin-bottom:-12px;
}

div.post_thumb{
    display:none;
}

.sc_testimonial_content{
    margin:-100px;
}

.vc_sep_pos_align_center{
    margin-top: 40px !important;
}

body.home div.formatNewsLetterHome,
body.page-id-1216 div.formatNewsLetterHome,
body.page-id-506 div.formatNewsLetterHome{
    width:1170px;
    display:block;
}

body.home div.formatNewsLetterSidebar,
body.page-id-1216 div.formatNewsLetterSidebar,
body.page-id-506 div.formatNewsLetterSidebar{
    display:none;
}

body.archive div.formatNewsLetterSidebar,
body.page-id-1113 div.formatNewsLetterSidebar{
    display:block;
}

body.archive div.formatNewsLetterHome,
body.page-id-1113 div.formatNewsLetterHome{
    display:none;
}

body.archive input.formatButtonSidebar,
body.page-id-1113 input.formatButtonSidebar{
    margin-top: 10px;
}


body.home .format,
body.page-id-1216 .format,
body.page-id-506 .format{
    background:rgb(62, 59, 69);
}

body.archive input[type="submit"],
body.page-id-1113 input[type="submit"]{
    display: inline;
    overflow: hidden;
    background: #EBCA00 !important;
    color: #3F4077!important;
    font-weight: bold;
    width:100%;
}


body.archive input[type="submit"]:hover,
body.page-id-1113 input[type="submit"]:hover{
    display: inline;
    overflow: hidden;
    background: #B89F04 !important;
    color: #3F4077!important;
    font-weight: bold;
    width:100%;
}

body.home input.formatInput,
body.page-id-1216 input.formatInput,
body.page-id-506 input.formatInput{
    width:550px;
    display: inline;
    overflow: hidden;
    border-radius: 5px;
    height:50px;
    font-size: 20px;
}

body.home input.formatButton:hover,
body.page-id-1216 input.formatButton:hover,
body.page-id-506 input.formatButton:hover{
    display: inline;
    overflow: hidden;
    background: #B89F04 !important;
    color: #3F4077!important;
    font-weight: bold;
    height:48px;
    font-size: 18px;
    margin-left: 10px;
}

body.home input.formatButton,
body.page-id-1216 input.formatButton,
body.page-id-506 input.formatButton{
    display: inline;
    overflow: hidden;
    background: #EBCA00 !important;
    color: #3F4077!important;
    font-weight: bold;
    height:48px;
    font-size: 18px;
    margin-left: 10px;
}

body.home label.formatLabel,
body.page-id-1216 label.formatLabel,
body.page-id-506 label.formatLabel{
    font-size: 25px;
    color: #fff;
    margin-right: 10px; 
}

body.home .mc4wp-form-fields,
body.page-id-1216 .mc4wp-form-fields,
body.page-id-506 .mc4wp-form-fields{
    padding: 4.5em 0; 
    margin:0 auto;
    width: 1170px;
}

body.single.postid-163 div.h5ab-print-button-container,
body.single.single-post div.h5ab-print-button-container{
    display:none;    
}

.sc_button.sc_button_box.sc_button_style_style1.sc_button_size_small.aligncenter.button_home_Immob{
    margin-bottom: 50px;
}

.sc_property.sc_property_style_property-6 .sc_pr_f1:before{
    border-right:6px solid #DCC014 !important;
    border-bottom:6px solid #DCC014 !important;
}

.sc_section custom_box_form{
    margin-bottom: 90px;
}

.columns_wrap.no_margins{
    margin-bottom:50px !important;
}

.vc_custom_1467151726989{
    margin-bottom:25px !important;
}

div.sc_gap{
    font-size: 12px;
}

div.richiesta_form{
    margin-top: 65px; 
    margin-bottom: 25px;
    font-size: 25px;
    font-weight: bold;
}

.h5ab-print-button-left{
    float:left !important;
    margin:25px 0 !important;
}

input.wpcf7-form-control.wpcf7-submit:hover {
    background: #B89F04 !important;
    color: #3F4077!important;
    font-weight: bold;
}

input.wpcf7-form-control.wpcf7-submit{
    background: #EBCA00 !important;
    color: #3F4077!important;
    font-weight: bold;
}

.top_panel_inner_style_1 .menu_main_nav>li ul{
    margin-top: 2px;
}

body.home div.sc_property_description,
body.page div.sc_property_description{
    color: #c91217 !important;
    font-size: 12px !important; 
    margin-bottom: 7px !important;
}

.top_panel_contacts_right,
.top_panel_contacts_right strong{
    color:#c91217 !important;
    font-size: 14px !important;
}

.top_panel_contacts_right strong i{
    font-weight: bold;
}


.wpcf7-form-control.wpcf7-text.wpcf7-tel.wpcf7-validates-as-required.wpcf7-validates-as-tel{
    border:1px solid #ccc !important;
    display: block; 
    width: 100%;
    -webkit-appearance: none;
    outline: none;
    resize: none;
    line-height: 1.42857;
    padding: 0.786em 0.5em 0.714em;
    box-sizing: border-box;
    transition: all ease .3s;
    border-radius: 2px;
}

.wpcf7-form-control.wpcf7-textarea,
.wpcf7-form-control.wpcf7-select,
.wpcf7-form-control.wpcf7-text,
.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required,
.wpcf7-form-control.wpcf7-text.wpcf7-email.wpcf7-validates-as-required.wpcf7-validates-as-email{
    border:1px solid #ccc !important; 
    color:#000 !important; 
}

aside#nav_menu-3{
    width:100%;
}

body.single.single-property div#stampa_scheda_btn{
    float:right;
    margin-top: 30px;
} 
body.single.single-property div#stampa_scheda_btn a{
    color:#333;
    color: #333;
    font-size: 19px;
}
body.single.single-property div#stampa_scheda_btn a img{
    padding-top: 4px;
}



div#form_richiesta_informazioni{
    margin-top: 100px;
}

@media print{
    body.single.single-property div#form_richiesta_informazioni,
    body.single.single-property div.top_panel_menu,
    body.single.single-property div.top_panel_title.top_panel_style_1.title_present.breadcrumbs_present.scheme_original,
    body.single.single-property div.top_panel_title.top_panel_style_1.title_present.scheme_original,
    body.single.single-property div.sidebar.widget_area.scheme_original,
    body.single.single-property footer.footer_wrap.widget_area.scheme_original,
    body.single.single-property footer.contacts_wrap.scheme_,
    body.single.single-property div.copyright_wrap.copyright_style_socials.scheme_original,
    body.single.single-property div.copyright_wrap.copyright_style_menu.scheme_original,
    body.single.single-property div.custom_shortcode_box,
    body.single.single-property div.wpb_text_column.wpb_content_element,
    body.single.single-property div.wpb_gallery.wpb_content_element.vc_clearfix.vc_custom_1467124958449,
    body.single.single-property ul.wpb_image_grid_ul,
    body.single.single-property div.wpb_gallery_slides.wpb_image_grid,
    body.single.single-property a.scroll_to_top.icon-up.show,
     body.single.single-property div#stampa_scheda_btn{
        display:none!important;
    }   
    div.post_info{
        margin-top:-30px!important;
    }
    div.property_price_box{
        float:left!important;
        font-size:19px!important;
    }
    div.sc_property_info_list{
        float:right!important;
        margin-right:50px!important;
        font-size:10px!important;
    }
    body.single.single-property div#testo_immobili_stampa{
        display:block!important;
    }
    body.single.single-property a.link_stampa{
        color:#b71414!important;
        font-size:11px!important;
    }
    body.single.single-property div.wpb_single_image{
        margin-bottom:20px !important;
    }
    .top_panel_contacts_left div.contact_phone, .top_panel_contacts_left div.contact_email{
        font-size:10px;
        line-height:14px;
        width:200px;
    }
    
    div.contact_email{
        display:none!important;
    }
    div.vwpb_content_element p{
        font-size:12px!important;
    }
    
    section.post_content,div.post_info{
        margin-top:-15px!important;
    }
    div#testo_immobili_stampa{
        font-size:12px!important;
    }
    
    span#firma,span#firma a{
        font-size:11px!important;
        line-height: 13px!important;
    }
    
    body.single-property div.vc_column_container{
        margin-bottom: 0px!important;
    }
    body.single-property div.page_content_wrap{
        padding: 0px!important;
    }
    body.single-property div.ps_single_info{
        margin-bottom: 10px!important;
    }
    body.single-property h3.post_title{
        font-size:21px!important;
    }
    div.hit-counter-max{
        display:none!important;
    }
    
}

a.property_group_link, a.post_info_date{
    color:#c91217;
}

div#testo_immobili_stampa{
    display:none;
}

body.archive.category div.post_thumb,
body.single.single-post div.post_thumb{
    display:block;
}

body.single.single-property div.custom_shortcode_box{
    padding:0px !important;
}

body.home div.sc_ps_bathrooms {
    width: 48%!important;
    margin-left: 16px!important;
}

body.home div.sc_ps_bedrooms{
    width: 48%!important;
    margin-left: 0px!important;
}
.scheme_dark .ps_range_slider .ps_area_info_value, .scheme_dark .ps_range_slider .ps_price_info_value{
    font-size:16px;
}

body{
    font-size:15px!important;
}

.top_panel_contacts_right, .top_panel_contacts_right strong{
    margin-right:8px;
}
.sc_button_box.sc_button_style_style2{
    color: #3F4077!important;
    font-size: 15px!important;
    font-weight: bold!important;
}

#header_home_bg{
    display: none!important;
}

span.property_price_box_sign, span.property_price_box_price,span.property_price_box_per{
    color: #3F4077!important;
}
div#cont_addresses_mobile{
    display:none;
}
@media only screen and (max-width: 1200px) {
    .contact_phone, .contact_email {
        margin-right: 1.5em!important;
    }
    menu_main_nav > li > a {
        margin-right: 1.5em!important;
    }
    a.sf-with-ul{
        padding-right:20px!important;
    }
    .menu_main_nav>li>a {
        font-size: 0.82em !important;
    }
    div.contact_email{
        display:none!important;
    }
    header.top_panel_wrap .top_panel_menu {
        margin-top: -6px !important;
    }
}
@media only screen and (max-width: 1024px) {
    div.contact_phone{
        font-size: 12px!important;
        margin-bottom: -30px!important;
    }
    div.contact_email{
        display: none!important;
    }
    div.forcefullwidth_wrapper_tp_banner{
        height: 600px!important;
    }
    header.top_panel_wrap .top_panel_menu {
        margin-top: 7px !important;
    }
    .menu_main_nav > li > a {
        margin-right: 1.5em!important;
    }
    a.sf-with-ul{
        padding-right:20px!important;
    }
    .menu_main_nav>li>a {
        font-size: 0.82em !important;
    }
    body.home div.sc_ps_bedrooms {
        width: 47.5%!important;
    }
    body.home div.formatNewsLetterHome, body.page-id-1216 div.formatNewsLetterHome, body.page-id-506 div.formatNewsLetterHome {
        width: 970px!important;
        margin: 0 auto!important;
        margin-left: 22px!important;
    }
    body.home input.formatInput, body.page-id-1216 input.formatInput, body.page-id-506 input.formatInput{
        width: 390px!important;
    }
    .top_panel_wrap li {
        margin: -13px 15px 0 0 !important;
    }
    .bgtext1 p{
        font-size: 125px!important;
    }
    aside.af_TellaFriend_widget span {
        font-size: 12px!important;
    }
    body.archive h2.post_title{
        width:100%!important;
    }
}

@media only screen and (max-width: 768px) {
    aside.af_TellaFriend_widget{
        margin-left: 20px!important;
        margin-bottom: 40px!important;
        width:100%!important;
    }
    aside#search-11{
        width: 88%;
        margin-left: 18px;
    }
    aside#yreg_estate_widget_property_search-9,aside#yreg_estate_widget_property_search-10{
        width:88%!important;
    }
    aside#yreg_estate_widget_property_search-10{
        margin-left: 20px!important;
    }
        
    body.home .vc_col-sm-6,body.single .sc_column_item, body.page-template-default .vc_col-sm-6, body.page-id-1216 .vc_col-sm-6{
        width: 100%!important;
        margin-right: 0px!important;
    }
    .top_panel_contacts_right, .top_panel_contacts_right strong {
        text-align: right!important;
        margin-right:0px!important;
        font-size: 18px!important;
    }
    .top_panel_menu {
        float: none;
        width: 620px!important;
        padding-top: 2em!important;
    }
    .responsive_menu .top_panel_style_1 .menu_main_responsive_button, .responsive_menu .top_panel_style_2 .menu_main_responsive_button {
        color: #fff!important;
        background-color: #37353d!important;
    }
    div.sc_ps_status,div.sc_ps_location,div.sc_ps_type,div.sc_ps_bedrooms,div.sc_ps_area,div.sc_ps_price{
        width:100%!important;
    }
    body.home div.sc_ps_bedrooms, body.home div.sc_ps_bathrooms {
        width:100%!important;
    }
    .contact_email,.contact_phone{
        display:none;
    }
    body.home div.sc_ps_bathrooms {
        margin-left: 0px!important;
    }
    form#mc4wp-form-1{
        display:none!important;
    }
    .menu_main_nav > li > a {
        margin-right: 1.32em!important;
    }
    .menu_main_nav>li>a {
        font-size: 0.90em !important;
    }
}

@media only screen and (min-width: 481px) and (max-width: 960px) {
   .menu_main_nav>li>a {
        font-size: 0.90em !important;
    }
   menu_main_nav > li > a {
        margin-right: 1.32em!important;
    }
    .contact_email,.contact_phone{
        display:none;
    }
    .top_panel_contacts_left {
        text-align: left!important;
    }
    .top_panel_inner_style_1 .menu_main_nav > li > a {
        font-size: 14px!important;
        margin-right: 19px!important;
    }
    .top_panel_contacts_right {
        text-align: right!important;
    }
    div.sc_ps_status,div.sc_ps_location,div.sc_ps_type,div.sc_ps_bedrooms,div.sc_ps_area,div.sc_ps_price,body.home div.sc_ps_bathrooms,body.home div.sc_ps_bedrooms{
        width:100%!important;
        margin-left: 0px!important;
    }
    body.home div.sc_property_search div.sc_ps_bedrooms {
        width: 100%!important;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1200px) {
    
}
@media only screen and (max-width: 1200px) {
    body.home div.sc_ps_bedrooms{
        width:47.5%!important;
    }
}
@media only screen and (max-width: 480px) {
    body{
        overflow-x: hidden!important;
    }
    .responsive_menu .top_panel_style_1 .menu_main_responsive_button, .responsive_menu .top_panel_style_2 .menu_main_responsive_button{
        width: 55%!important;
    }
    .top_panel_contacts{
        display:none!important;
    }
    div.top_panel_logo{
        padding-bottom: 0px!important;
    }
    ul.menu_main_responsive{
        width: 45.9%!important;
    }
    div.forcefullwidth_wrapper_tp_banner{
        display:none!important;
    }
    div.ps_header{
        margin-top: 16px!important;
    }
    body.home div.sc_ps_bedrooms {
        width: 100%!important;
    }
    .sc_testimonial_content p {
        font-size: 19px!important;
        width: 290px!important;
        margin: 0 auto!important;
    }
    .vc_custom_1466606970110 {
        height: 320px!important;
    }
    a.sc_button_size_small{
        width: 255px!important;
    }
    #header_home_bg{
        display: block!important;
        margin-top: 250px!important;
    }
    ul.menu_main_responsive {
        width: 58.9%!important;
    }
    .top_panel_wrap .logo_main {
        max-height: 100px!important;
    }
    
    div#cont_addresses_mobile{
        display:block!important;
        font-size: 11px;
        line-height: 19px;
        margin: 0 auto;
        text-align: center;
        margin-top: 12px;
        margin-bottom: -21px;
        font-style: normal;
        font-weight: bold;
        letter-spacing: -.2px;
    }
    .copyright_text {
        margin: 7px!important;
    }
    span#calvani_link a{
        margin-right: 61px!important;
    }
    .scroll_to_top{
        left:0px!important;
    }
    .top_panel_menu {
        width: 480px!important;
    }
    .page_content_wrap {
        padding: 2em 0 7.143em!important;
    }
}
@media only screen and (max-width: 320px){
    .page_content_wrap {
        padding: 2em 0 7.143em!important;
    }
    .top_panel_menu {
        width: 320px!important;
    }
    .top_panel_wrap .logo_main {
        max-height: 100px!important;
    }
    #header_home_bg{
        display: block!important;
        margin-top: 250px!important;
    }
    div.ps_header{
        margin-top: 16px!important;
    }
    body{
        overflow-x: hidden!important;
    }
    .responsive_menu .top_panel_style_1 .menu_main_responsive_button, .responsive_menu .top_panel_style_2 .menu_main_responsive_button {
        width: 79%!important;
    }
    .columns_wrap:not(.columns_fluid) > [class*="column-"] {
        width: 98%!important;
    }
    .sc_testimonial_content p {
        font-size: 16px!important;
        width: 264px!important;
        margin: 0 auto!important;
    }
    .vc_custom_1466606970110 {
        height: 280px!important;
    }
    a.sc_button_size_small{
        width: 250px!important;
    }
    ul.menu_main_responsive {
        width: 84.7%!important;
    }
    div#cont_addresses_mobile{
        display:block!important;
        font-size: 11px;
        line-height: 19px;
        margin: 0 auto;
        text-align: center;
        margin-top: 12px;
        margin-bottom: -21px;
        font-style: normal;
        font-weight: bold;
        letter-spacing: -.2px;
    }
    .copyright_text {
        margin: 7px!important;
    }
    span#calvani_link a{
        margin-right: 61px!important;
    }
    .scroll_to_top{
        left:0px!important;
    }
}
span.logo_phone{
    color:#ff0000;
}
h2.post_title_red{
    color:#b71414;
    display: block;
    float:left;
}
h2.post_title{
    display: block;
    float:left;
}

body.page.page-id-1113 p{
    clear:both;
}

div.sc_property_title{
    padding-bottom:10px;
}

div.pp_pic_holder div.ppt {
    display: none!important;
}

#indirizzi p{
    font-size:13px;
}

#cont_indirizzi{
    margin-top:0px;
}

#cont_via{
    margin-bottom:0px!important;
}

div#sb-container div#messaggio_finale{
    width: 290px!important;
    margin-left: 44px!important;
    text-align: center!important;
    margin-top: 96px!important;
}