@charset "utf-8";

/* With side menu - uncomment next row
@import url('responsive-outer-sidebar.css');
*/

/* Responsive styles (without sidemenu)
-------------------------------------------------------------- */

/*
Apple iPhone 5, 5S & 5C 
Apple iPod Touch (5th generation)
*/
/* With side menu
@media (min-width: 1510px) and (max-width: 1679px) {
*/
/* Without side menu */
@media (min-width: 1263px) and (max-width: 1439px) {

	/* Body sizes */
/*	.body_style_boxed .page_wrap {		width:1060px; }
	.slider_boxed, .content_wrap, .content_container {	width:1000px; }*/

	/* Content and Sidebar */
/*	.sidebar_show .content { width: 670px; }
	.sidebar { 				 width: 300px; }*/
	
	/* Fullwide or Fullscreen with sidebar */
/*	.body_style_fullwide.sidebar_right .content, .body_style_fullscreen.sidebar_right .content { padding-right: 330px; }
	.body_style_fullwide.sidebar_right .sidebar, .body_style_fullscreen.sidebar_right .sidebar { margin-left: -300px; }
	.body_style_fullwide.sidebar_left  .content, .body_style_fullscreen.sidebar_left  .content { padding-left:  330px; }
	.body_style_fullwide.sidebar_left  .sidebar, .body_style_fullscreen.sidebar_left  .sidebar { margin-right:-300px; }*/

	/* WooCommerce: Content and Sidebar */
	.woocommerce.sidebar_show .content { width: 690px; }
	.woocommerce .sidebar { 			 width: 280px; }
	body:not(.woocommerce) .sidebar .widget_product_categories ul.product-categories.inited ul {
		left: 240px;
	}

	/* WooCommerce: Fullwide or Fullscreen with sidebar */
	.woocommerce.body_style_fullwide.sidebar_right .content, .woocommerce.body_style_fullscreen.sidebar_right .content { padding-right: 310px; }
	.woocommerce.body_style_fullwide.sidebar_right .sidebar, .woocommerce.body_style_fullscreen.sidebar_right .sidebar { margin-left: -280px; }
	.woocommerce.body_style_fullwide.sidebar_left  .content, .woocommerce.body_style_fullscreen.sidebar_left  .content { padding-left:  310px; }
	.woocommerce.body_style_fullwide.sidebar_left  .sidebar, .woocommerce.body_style_fullscreen.sidebar_left  .sidebar { margin-right:-280px; }

	.article_style_boxed .sidebar_inner,
	.body_filled .sidebar[class*="scheme_"] .sidebar_inner {
		padding: 2.1429em;
	}
	
	/* Top Panel */
	.top_panel_style_1 .contact_field {
		text-align:center;
		margin-top:1.5em;
	}
	.top_panel_style_1 .contact_field .contact_icon {
		float: none;
		margin-right:auto;
		margin-left:auto;
		margin-bottom:0.3em;
	}
	
	/* Posts layouts */
	.post_item_colored .post_category {
		max-height:1.2em;
		overflow:hidden;
	}
	.post_item_colored .post_descr .post_price {
		margin-top: 1.2em;
	}
	.sc_scroll_horizontal .sc_blogger .isotope_item,
	.sc_scroll_horizontal .sc_blogger [class*=column-],
	.sc_blogger .sc_scroll_horizontal .isotope_item,
	.sc_blogger .sc_scroll_horizontal [class*=column-] {
		width: 343px;
	}
	.sc_scroll_horizontal .sc_blogger .isotope_column_2,
	.sc_scroll_horizontal .sc_blogger .column-1_2,
	.sc_blogger .sc_scroll_horizontal .isotope_column_2,
	.sc_blogger .sc_scroll_horizontal .column-1_2 {
		width: 515px;
	}
	.sc_scroll_horizontal .sc_blogger .isotope_column_4,
	.sc_scroll_horizontal .sc_blogger .column-1_4,
	.sc_blogger .sc_scroll_horizontal .isotope_column_4,
	.sc_blogger .sc_scroll_horizontal .column-1_4 {
		width: 257px;
	}
	
	/* Widgets */
	.widget_area .sc_tabs.sc_tabs_style_2 .sc_tabs_titles li + li {
		margin-left:0.4em;
	}
	.widget_area .sc_tabs.sc_tabs_style_2 .sc_tabs_titles li a {
		padding: 2px 0.5em;
	}
	
	/* Widget Recent News */
	.sc_recent_news_style_news-announce .post_size_full {	height: 372px; }
	.sc_recent_news_style_news-announce .post_size_big {	height: 186px; }
	.sc_recent_news_style_news-announce .post_size_medium {	height: 93px;  }
	.sc_recent_news_style_news-announce .post_size_small {	height: 93px; }
	body.sidebar_hide .sc_recent_news_style_news-announce .post_size_full {	height: 560px; }
	body.sidebar_hide .sc_recent_news_style_news-announce .post_size_big {	height: 280px;  }
	body.sidebar_hide .sc_recent_news_style_news-announce .post_size_medium,
	body.sidebar_hide .sc_recent_news_style_news-announce .post_size_small {	height: 140px;  }
	.sc_recent_news_style_news-announce .post_size_medium .post_title,
	.sc_recent_news_style_news-announce .post_size_small .post_title {	font-size: 1.2em; }
}


/* With side menu
@media (min-width: 1366px) and (max-width: 1509px) {
*/
/* Without side menu */
@media (min-width: 1136px) and (max-width: 1262px) {

	/* Body sizes */
/*	.body_style_boxed .page_wrap {		width:970px; }
	.slider_boxed, .content_wrap, .content_container {	width:910px; }*/

	/* Content and Sidebar */
/*	.sidebar_show .content { width: 610px; }*/

	/* WooCommerce: Content and Sidebar */
	.woocommerce.sidebar_show .content { width: 630px; }

	/* Posts layouts */
	.sc_scroll_horizontal .sc_blogger .isotope_item,
	.sc_scroll_horizontal .sc_blogger [class*=column-],
	.sc_blogger .sc_scroll_horizontal .isotope_item,
	.sc_blogger .sc_scroll_horizontal [class*=column-] {
		width: 313px;
	}
	.sc_scroll_horizontal .sc_blogger .isotope_column_2,
	.sc_scroll_horizontal .sc_blogger .column-1_2,
	.sc_blogger .sc_scroll_horizontal .isotope_column_2,
	.sc_blogger .sc_scroll_horizontal .column-1_2 {
		width: 470px;
	}
	.sc_scroll_horizontal .sc_blogger .isotope_column_4,
	.sc_scroll_horizontal .sc_blogger .column-1_4,
	.sc_blogger .sc_scroll_horizontal .isotope_column_4,
	.sc_blogger .sc_scroll_horizontal .column-1_4 {
		width: 235px;
	}
	.sc_recent_news_style_news-announce .post_size_full {	height: 344px; }
	.sc_recent_news_style_news-announce .post_size_big {	height: 172px; }
	.sc_recent_news_style_news-announce .post_size_medium {	height: 86px;  }
	.sc_recent_news_style_news-announce .post_size_small {	height: 86px; }
	body.sidebar_hide .sc_recent_news_style_news-announce .post_size_full {	height: 512px; }
	body.sidebar_hide .sc_recent_news_style_news-announce .post_size_big {	height: 256px;  }
	body.sidebar_hide .sc_recent_news_style_news-announce .post_size_medium,
	body.sidebar_hide .sc_recent_news_style_news-announce .post_size_small {	height: 128px;  }
	.sc_recent_news_style_news-announce .post_size_medium .post_title,
	.sc_recent_news_style_news-announce .post_size_small .post_title {	font-size: 1.2em; }
}


/* With side menu
@media (min-width: 1280px) and (max-width: 1365px) {
*/
/* Without side menu */
@media (min-width: 1024px) and (max-width: 1135px) {

	/* Body sizes */
/*	.body_style_boxed .page_wrap {		width:100%; }
	.slider_boxed, .content_wrap, .content_container {	width:964px; }*/

	/* Content and Sidebar */
/*	.sidebar_show .content { width: 664px; }*/

	/* WooCommerce: Content and Sidebar */
	.woocommerce.sidebar_show .content { width: 684px; }

	/* Posts layouts */
	.sc_scroll_horizontal .sc_blogger .isotope_item,
	.sc_scroll_horizontal .sc_blogger [class*=column-],
	.sc_blogger .sc_scroll_horizontal .isotope_item,
	.sc_blogger .sc_scroll_horizontal [class*=column-] {
		width: 331px;
	}
	.sc_scroll_horizontal .sc_blogger .isotope_column_2,
	.sc_scroll_horizontal .sc_blogger .column-1_2,
	.sc_blogger .sc_scroll_horizontal .isotope_column_2,
	.sc_blogger .sc_scroll_horizontal .column-1_2 {
		width: 497px;
	}
	.sc_scroll_horizontal .sc_blogger .isotope_column_4,
	.sc_scroll_horizontal .sc_blogger .column-1_4,
	.sc_blogger .sc_scroll_horizontal .isotope_column_4,
	.sc_blogger .sc_scroll_horizontal .column-1_4 {
		width: 248px;
	}
	.sc_recent_news_style_news-announce .post_size_full {	height: 372px; }
	.sc_recent_news_style_news-announce .post_size_big {	height: 186px; }
	.sc_recent_news_style_news-announce .post_size_medium {	height: 93px;  }
	.sc_recent_news_style_news-announce .post_size_small {	height: 93px; }
	body.sidebar_hide .sc_recent_news_style_news-announce .post_size_full {	height: 540px; }
	body.sidebar_hide .sc_recent_news_style_news-announce .post_size_big {	height: 270px;  }
	body.sidebar_hide .sc_recent_news_style_news-announce .post_size_medium,
	body.sidebar_hide .sc_recent_news_style_news-announce .post_size_small {	height: 135px;  }
	.sc_recent_news_style_news-announce .post_size_medium .post_title,
	.sc_recent_news_style_news-announce .post_size_small .post_title {	font-size: 1.2em; }
}


/* With side menu
@media (min-width: 960px) and (max-width: 1279px) {
*/
/* Without side menu */
@media (min-width: 960px) and (max-width: 1023px) {

	/* Body sizes */
/*	.body_style_boxed .page_wrap {		width:100%; }
	.slider_boxed, .content_wrap, .content_container {	width:900px; }*/

	/* Content and Sidebar */
/*	.sidebar_show .content { width: 600px; }*/

	/* WooCommerce: Content and Sidebar */
	.woocommerce.sidebar_show .content { width: 620px; }

	/* Posts layouts */
	.sc_scroll_horizontal .sc_blogger .isotope_item,
	.sc_scroll_horizontal .sc_blogger [class*=column-],
	.sc_blogger .sc_scroll_horizontal .isotope_item,
	.sc_blogger .sc_scroll_horizontal [class*=column-] {
		width: 310px;
	}
	.sc_scroll_horizontal .sc_blogger .isotope_column_2,
	.sc_scroll_horizontal .sc_blogger .column-1_2,
	.sc_blogger .sc_scroll_horizontal .isotope_column_2,
	.sc_blogger .sc_scroll_horizontal .column-1_2 {
		width: 465px;
	}
	.sc_scroll_horizontal .sc_blogger .isotope_column_4,
	.sc_scroll_horizontal .sc_blogger .column-1_4,
	.sc_blogger .sc_scroll_horizontal .isotope_column_4,
	.sc_blogger .sc_scroll_horizontal .column-1_4 {
		width: 232px;
	}
	.sc_recent_news_style_news-announce .post_size_full {	height: 336px; }
	.sc_recent_news_style_news-announce .post_size_big {	height: 168px; }
	.sc_recent_news_style_news-announce .post_size_medium {	height: 84px;  }
	.sc_recent_news_style_news-announce .post_size_small {	height: 84px; }
	body.sidebar_hide .sc_recent_news_style_news-announce .post_size_full {	height: 504px; }
	body.sidebar_hide .sc_recent_news_style_news-announce .post_size_big {	height: 252px;  }
	body.sidebar_hide .sc_recent_news_style_news-announce .post_size_medium,
	body.sidebar_hide .sc_recent_news_style_news-announce .post_size_small {	height: 126px;  }
	.sc_recent_news_style_news-announce .post_size_medium .post_title,
	.sc_recent_news_style_news-announce .post_size_small .post_title {	font-size: 1.2em; }
}


/*
Apple iPhone 4 & 4S
Apple iPod Touch (4th generation)
*/
/* With side menu
@media (min-width: 960px) and (max-width: 1509px) {
*/
/* Without side menu */
@media (min-width: 960px) and (max-width: 1262px) {

/*	.sidebar { 				 width: 270px; }*/
	
	/* Fullwide or Fullscreen with sidebar */
/*	.body_style_fullwide.sidebar_right .content, .body_style_fullscreen.sidebar_right .content { padding-right: 300px; }
	.body_style_fullwide.sidebar_right .sidebar, .body_style_fullscreen.sidebar_right .sidebar { margin-left: -270px; }
	.body_style_fullwide.sidebar_left  .content, .body_style_fullscreen.sidebar_left  .content { padding-left:  300px; }
	.body_style_fullwide.sidebar_left  .sidebar, .body_style_fullscreen.sidebar_left  .sidebar { margin-right:-270px; }*/

	/* WooCommerce: Content and Sidebar */
	.woocommerce .sidebar { 			 width: 250px; }
	body:not(.woocommerce) .sidebar .widget_product_categories ul.product-categories.inited ul {
		left: 210px;
	}

	/* WooCommerce: Fullwide or Fullscreen with sidebar */
	.woocommerce.body_style_fullwide.sidebar_right .content, .woocommerce.body_style_fullscreen.sidebar_right .content { padding-right: 280px; }
	.woocommerce.body_style_fullwide.sidebar_right .sidebar, .woocommerce.body_style_fullscreen.sidebar_right .sidebar { margin-left: -250px; }
	.woocommerce.body_style_fullwide.sidebar_left  .content, .woocommerce.body_style_fullscreen.sidebar_left  .content { padding-left:  280px; }
	.woocommerce.body_style_fullwide.sidebar_left  .sidebar, .woocommerce.body_style_fullscreen.sidebar_left  .sidebar { margin-right:-250px; }

	.article_style_boxed .sidebar_inner,
	.body_filled .sidebar[class*="scheme_"] .sidebar_inner {
		padding: 2.1429em;
	}

	/* Top Panel */
	.top_panel_style_1 .contact_field {
		text-align:center;
		margin-top:1.5em;
	}
	.top_panel_style_1 .contact_field .contact_icon {
		float: none;
		margin-right:auto;
		margin-left:auto;
		margin-bottom:0.3em;
	}
	
	/* Posts layouts */
	.post_item_colored .post_category {
		max-height:1.2em;
		overflow:hidden;
	}
	.post_item_colored .post_descr .post_price {
		margin-top: 1.2em;
	}
	
	/* Widgets */
	.widget_area .sc_tabs.sc_tabs_style_2 .sc_tabs_titles li + li {
		margin-left:0.4em;
	}
	.widget_area .sc_tabs.sc_tabs_style_2 .sc_tabs_titles li a {
		padding: 2px 0.25em;
	}
	.widget_area .widget_calendar td .day_wrap {
		padding:6px 3px;
	}

	
	/* Woocommerce */
	.woocommerce .widget_price_filter .price_label {
		font-size: 1em;
	}
	.woocommerce ul.products li.product .price, .woocommerce-page ul.products li.product .price {
		font-size: 1em;
	}
	.top_panel_wrap .widget_shopping_cart ul.cart_list > li > a:not(.remove) {
		margin-top:-0.15em;
	}

	/* Shortcodes */
/*	.sc_googlemap {
		max-height:350px;
	}
	.sc_googlemap_content {
		position:static;
		width: auto;
	}*/
}



/*
Sony Xperia
LG Optimus
Blackberry Storm 3, Torch 9850 & Torch 9860
Nokia Lumia 610, 710 & 800
HTC Desire, Desire Z, Desire S & One V
Samsung Galaxy
*/
@media (min-width: 768px) and (max-width: 959px) {

	/* Body sizes */
/*	.body_style_boxed .page_wrap {		width:100%; }
	.slider_boxed, .content_wrap, .content_container {	width:708px; }*/

	/* Content and Sidebar */
/*	.sidebar_show .content { width: 100%; float: none; }
	.sidebar_show .sidebar { width: 100%; float: none; margin-top: 2em; }*/
	
	/* Fullwide or Fullscreen with sidebar */
/*	.body_style_fullwide.sidebar_right .content, .body_style_fullscreen.sidebar_right .content { padding-right: 0 !important; }
	.body_style_fullwide.sidebar_right .sidebar, .body_style_fullscreen.sidebar_right .sidebar { margin-left: 0 !important; }
	.body_style_fullwide.sidebar_left  .content, .body_style_fullscreen.sidebar_left  .content { padding-left:  0 !important; }
	.body_style_fullwide.sidebar_left  .sidebar, .body_style_fullscreen.sidebar_left  .sidebar { margin-right:0 !important; }*/

	/* WooCommerce: Content and Sidebar */
	.woocommerce.sidebar_show .content { width: 100%; float: none; }
	.woocommerce .sidebar { 			 width: 100%; float: none; margin-top: 2em; }
	
	.sidebar aside {
		display: inline-block;
		vertical-align:top;
		/*width:31%;*/
		/*width:26.7%;*/
		width:25.5%;
		margin-left:3.5%;
	}
	.sidebar aside+aside {
		padding-top:0;
		border-top:none;
		margin-top:0;
	}
	.sidebar aside:nth-child(3n+1) {
		margin-left:0;
	}
	.sidebar aside:nth-child(3n+4),
	.sidebar aside:nth-child(3n+5),
	.sidebar aside:nth-child(3n+6) {
		padding-top:2em;
		/*border-top:1px solid #f4f7f9;*/
		margin-top:2em;
	}

	.gallery.gallery-columns-9 .gallery-item {	width: 20% !important; }
	.gallery.gallery-columns-8 .gallery-item {	width: 20% !important; }
	.gallery.gallery-columns-7 .gallery-item {	width: 20% !important; }
	.gallery.gallery-columns-6 .gallery-item {	width: 20% !important; }
	
	/* Top Panel */
	.top_panel_top_user_area {
		float:none;
		clear:both;
		width:100%;
	}
	.top_panel_top_socials {
		float:left;
		margin-left:0;
		margin-right:4.5em;
	}
	.top_panel_style_1 .contact_field {
		text-align:center;
		margin-top:1.5em;
		margin-bottom:1.5em;
	}
	.top_panel_style_1 .contact_field .contact_icon {
		float: none;
		margin-right:auto;
		margin-left:auto;
		margin-bottom:0.3em;
	}
	
	/* Login and Register */
	.popup_wrap {
		left: 50%;
		-webkit-transform:translateX(-50%);
		   -moz-transform:translateX(-50%);
			-ms-transform:translateX(-50%);
				transform:translateX(-50%);
	}
	
	/* Posts layouts */
	.post_item_colored .post_category {
		max-height:1.2em;
		overflow:hidden;
	}
	.post_item_colored .post_descr .post_price {
		margin-top: 1.2em;
	}
	.post_item_colored .post_info_wrap .post_button + .post_button {
		margin-left:0.4em;
	}

	.sc_scroll_horizontal .sc_blogger .isotope_item,
	.sc_scroll_horizontal .sc_blogger [class*=column-],
	.sc_blogger .sc_scroll_horizontal .isotope_item,
	.sc_blogger .sc_scroll_horizontal [class*=column-] {
		width: 246px;
	}
	.sc_scroll_horizontal .sc_blogger .isotope_column_2,
	.sc_scroll_horizontal .sc_blogger .column-1_2,
	.sc_blogger .sc_scroll_horizontal .isotope_column_2,
	.sc_blogger .sc_scroll_horizontal .column-1_2 {
		width: 369px;
	}
	
	/* Widgets */
	.widget_area .sc_tabs.sc_tabs_style_2 .sc_tabs_titles li + li {
		margin-left:0.4em;
	}
	.widget_area .sc_tabs.sc_tabs_style_2 .sc_tabs_titles li a {
		padding: 2px 0.5em;
	}
	.sc_recent_news_style_news-announce .post_item {		float:none; }
	.sc_recent_news_style_news-announce .post_size_full {	width: 100%; height: 198px; }
	.sc_recent_news_style_news-announce .post_size_big {	width: 100%; height: 198px; }
	.sc_recent_news_style_news-announce .post_size_medium {	width: 100%; height: 198px;  }
	.sc_recent_news_style_news-announce .post_size_small {	width: 100%; height: 198px; }
	body.sidebar_hide .sc_recent_news_style_news-announce .post_size_full {	width: 100%; height: 198px; }
	body.sidebar_hide .sc_recent_news_style_news-announce .post_size_big {	width: 100%; height: 198px;  }
	body.sidebar_hide .sc_recent_news_style_news-announce .post_size_medium,
	body.sidebar_hide .sc_recent_news_style_news-announce .post_size_small {	width: 100%; height: 198px;  }
	.sc_recent_news_style_news-announce .post_size_full .post_featured { max-height: 100%; }
	.sc_recent_news_style_news-announce .post_size_big .post_featured { max-height: 100%; }
	.sc_recent_news_style_news-announce .post_size_medium .post_featured { max-height: 100%; }
	.sc_recent_news_style_news-announce .post_size_small .post_featured { max-height: 100%; }

	/* Shortcodes */	
	.sc_promo_block {
		min-width: 50%;
	}
	.sc_promo_block_inner {
		padding: 3.5em;
	}
/*	.sc_googlemap {
		max-height:350px;
	}
	.sc_googlemap_content {
		position:static;
		width: auto;
	}*/

	/* Woocommerce */
	.woocommerce .widget_price_filter .price_label {
		font-size: 1em;
	}
	.woocommerce ul.products li.product .price, .woocommerce-page ul.products li.product .price {
		font-size: 1em;
	}
	.top_panel_wrap .widget_shopping_cart ul.cart_list > li > a:not(.remove) {
		margin-top:-0.15em;
	}
	.woocommerce table.cart img, .woocommerce #content table.cart img, .woocommerce-page table.cart img, .woocommerce-page #content table.cart img {
		width: 60px;
	}
	.woocommerce table.cart td, .woocommerce #content table.cart td, .woocommerce-page table.cart td, .woocommerce-page #content table.cart td {
		padding: 8px;
	}

	/* BuddyPress */
	#buddypress #item-nav {
		float:none;
		margin-bottom:2em;
		width:auto;
		display:inline-block;
	}
	#buddypress #item-nav ul {
		overflow:hidden;
	}
	#buddypress #item-nav ul li {
		float:left;
	}

    /* HTML5 Player */
    #myplayer .ttw-music-player .album-cover {
        width: 100%;
        float: none;
		overflow:hidden;
    }
    #myplayer .ttw-music-player .album-cover .img {
		position: static;
		max-height:none;
		margin-top:0;
	}
    #myplayer .ttw-music-player .album-cover img {
		max-width:none;
	}
    #myplayer .ttw-music-player .tracklist {
        position: relative;
        margin-left: 0;
        padding: 0;
        top: 0;
    }
	
	/* Scroll to Top */
	.scroll_to_top {
		right: 1em;
	}
	.scroll_to_top.show {
		bottom: 1em;
	}
}


@media (min-width: 640px) and (max-width: 767px) {

	/* Body sizes */
/*	.slider_boxed, .content_wrap, .content_container {	width:600px; }*/
	
	/* Login and Register */
	.popup_wrap {
		left: 50%;
		-webkit-transform:translateX(-50%);
		   -moz-transform:translateX(-50%);
			-ms-transform:translateX(-50%);
				transform:translateX(-50%);
	}

	/* Posts layouts */
	.isotope_wrap {
		margin-right:-20px;
	}
	.isotope_wrap .isotope_item {
		padding-right:20px;
		padding-bottom:20px;
		min-width:50%;
	}

	.sc_scroll_horizontal .sc_blogger .isotope_item,
	.sc_scroll_horizontal .sc_blogger [class*=column-],
	.sc_blogger .sc_scroll_horizontal .isotope_item,
	.sc_blogger .sc_scroll_horizontal [class*=column-] {
		width: 206px;
		min-width:0;
	}
	.sc_scroll_horizontal .sc_blogger .isotope_column_2,
	.sc_scroll_horizontal .sc_blogger .column-1_2,
	.sc_blogger .sc_scroll_horizontal .isotope_column_2,
	.sc_blogger .sc_scroll_horizontal .column-1_2 {
		width: 310px;
	}
	.sc_recent_news_style_news-announce .post_item {		float:none; }
	.sc_recent_news_style_news-announce .post_size_full {	width: 100%; height: 168px; }
	.sc_recent_news_style_news-announce .post_size_big {	width: 100%; height: 168px; }
	.sc_recent_news_style_news-announce .post_size_medium {	width: 100%; height: 168px;  }
	.sc_recent_news_style_news-announce .post_size_small {	width: 100%; height: 168px; }
	body.sidebar_hide .sc_recent_news_style_news-announce .post_size_full {	width: 100%; height: 168px; }
	body.sidebar_hide .sc_recent_news_style_news-announce .post_size_big {	width: 100%; height: 168px;  }
	body.sidebar_hide .sc_recent_news_style_news-announce .post_size_medium,
	body.sidebar_hide .sc_recent_news_style_news-announce .post_size_small {	width: 100%; height: 168px;  }
	.sc_recent_news_style_news-announce .post_size_full .post_featured { max-height: 100%; }
	.sc_recent_news_style_news-announce .post_size_big .post_featured { max-height: 100%; }
	.sc_recent_news_style_news-announce .post_size_medium .post_featured { max-height: 100%; }
	.sc_recent_news_style_news-announce .post_size_small .post_featured { max-height: 100%; }
}


@media (min-width: 480px) and (max-width: 639px) {

	/* Body sizes */
/*	.slider_boxed, .content_wrap, .content_container {	width:440px; }*/
	
	/* Login and Register */
	.popup_wrap {
		left: 50%;
		-webkit-transform:translateX(-70%);
		   -moz-transform:translateX(-70%);
			-ms-transform:translateX(-70%);
				transform:translateX(-70%);
	}
	.popup_registration {
		-webkit-transform:translateX(-55%);
		   -moz-transform:translateX(-55%);
			-ms-transform:translateX(-55%);
				transform:translateX(-55%);
	}

	/* Posts layouts */
	.isotope_wrap {
		margin-right:-20px;
	}
	.isotope_wrap .isotope_item {
		padding-right:20px;
		padding-bottom:20px;
		min-width:50%;
	}

	.sc_scroll_horizontal .sc_blogger .isotope_item,
	.sc_scroll_horizontal .sc_blogger [class*=column-],
	.sc_blogger .sc_scroll_horizontal .isotope_item,
	.sc_blogger .sc_scroll_horizontal [class*=column-] {
		width: 230px;
		min-width:0;
	}
	.isotope_wrap .isotope_item_colored_1 .post_featured {
		float:none;
		width:100%;
	}
	.isotope_wrap .isotope_item_colored_1 .post_description {
		padding-left: 2em;
		padding-bottom: 2em;
	}
	.sc_recent_news_style_news-announce .post_item {		float:none; }
	.sc_recent_news_style_news-announce .post_size_full {	width: 100%; height: 124px; }
	.sc_recent_news_style_news-announce .post_size_big {	width: 100%; height: 124px; }
	.sc_recent_news_style_news-announce .post_size_medium {	width: 100%; height: 124px;  }
	.sc_recent_news_style_news-announce .post_size_small {	width: 100%; height: 124px; }
	body.sidebar_hide .sc_recent_news_style_news-announce .post_size_full {	width: 100%; height: 124px; }
	body.sidebar_hide .sc_recent_news_style_news-announce .post_size_big {	width: 100%; height: 124px;  }
	body.sidebar_hide .sc_recent_news_style_news-announce .post_size_medium,
	body.sidebar_hide .sc_recent_news_style_news-announce .post_size_small {	width: 100%; height: 124px;  }
	.sc_recent_news_style_news-announce .post_size_full .post_featured { max-height: 100%; }
	.sc_recent_news_style_news-announce .post_size_big .post_featured { max-height: 100%; }
	.sc_recent_news_style_news-announce .post_size_medium .post_featured { max-height: 100%; }
	.sc_recent_news_style_news-announce .post_size_small .post_featured { max-height: 100%; }
}



/*
Portrait orientation
Sony Xperia
LG Optimus
Blackberry Storm 3, Torch 9850 & Torch 9860
Nokia Lumia 610, 710 & 800
HTC Desire, Desire Z, Desire S & One V
Samsung Galaxy
*/
@media (min-width: 480px) and (max-width: 768px) {

	/* Body sizes */
/*	.body_style_boxed .page_wrap {		width:100%; }*/

	/* Content and Sidebar */
/*	.sidebar_show .content { width: 100%; float: none; }
	.sidebar_show .sidebar { width: 100%; float: none; margin-top: 2em; }*/
	
	/* Fullwide or Fullscreen with sidebar */
/*	.body_style_fullwide.sidebar_right .content, .body_style_fullscreen.sidebar_right .content { padding-right: 0 !important; }
	.body_style_fullwide.sidebar_right .sidebar, .body_style_fullscreen.sidebar_right .sidebar { margin-left: 0 !important; }
	.body_style_fullwide.sidebar_left  .content, .body_style_fullscreen.sidebar_left  .content { padding-left:  0 !important; }
	.body_style_fullwide.sidebar_left  .sidebar, .body_style_fullscreen.sidebar_left  .sidebar { margin-right: 0 !important; }*/

	/* WooCommerce: Content and Sidebar */
	.woocommerce.sidebar_show .content { width: 100%; float: none; }
	.woocommerce .sidebar { 			 width: 100%; float: none; margin-top: 2em; }
	
	.article_style_boxed .sidebar,
	.body_filled .sidebar[class*="scheme_"] {
		margin-top:20px;
	}
	
	.widget_area aside {
		display: inline-block;
		float:none;
		vertical-align:top;
		/*width:48%;*/
		/*width:42.7%;*/
		width:41.3%;
		margin-left:4%;
	}
	.widget_area aside[class*="column-"] {
		margin-left:0;
	}
	.widget_area aside+aside {
		padding-top:0;
		border-top:none;
		margin-top:0;
	}
	.widget_area aside:nth-child(2n+1) {
		margin-left:0;
	}
	.widget_area aside:nth-child(2n+3),
	.widget_area aside:nth-child(2n+4) {
		padding-top:1em;
		/*border-top:1px solid #f4f7f9;*/
		margin-top:1em;
	}

	/* Grid */
	.container, .container-fluid {
		padding-left:  10px;
		padding-right: 10px;
	}
	.row, .columns_wrap {
		margin-right: -20px;
	}
	.row > [class*="column-"], .columns_wrap > [class*="column-"] {
		padding-right: 20px;
		margin: 10px 0;
	}
	.row.column_padding_left, .columns_wrap.column_padding_left {
		margin-left: -20px;
	}
	.row.column_padding_left > [class*="column-"], .columns_wrap.column_padding_left > [class*="column-"],
	.row > [class*="column-"].column_padding_left, .columns_wrap > [class*="column-"].column_padding_left {
		padding-left: 20px;
	}
	.row.column_padding_right, .columns_wrap.column_padding_right {
		margin-right: -20px;
	}
	.row.column_padding_right > [class*="column-"], .columns_wrap.column_padding_right > [class*="column-"],
	.row > [class*="column-"].column_padding_right, .columns_wrap > [class*="column-"].column_padding_right {
		padding-right:20px;
	}
	.row.column_padding_center, .columns_wrap.column_padding_center {
		margin-left: -10px;
		margin-right: -10px;
	}
	.row.column_padding_center > [class*="column-"], .columns_wrap.column_padding_center > [class*="column-"],
	.row > [class*="column-"].column_padding_center, .columns_wrap > [class*="column-"].column_padding_center {
		padding-left:20px;
	}
	.row > [class*="column-"].column_padding_bottom, .columns_wrap > [class*="column-"].column_padding_bottom {
		padding-bottom: 20px;
	}

	/* Columns relayout (max 2 columns in the row) */
	.row:not(.columns_fluid) > [class*="column-"], .columns_wrap:not(.columns_fluid) > [class*="column-"] {
		width:50%;
	}
	.comments_form .row:not(.columns_fluid) > [class*="column-"],
	.comments_form .columns_wrap:not(.columns_fluid) > [class*="column-"] {
		width:49.6%;
	}
	.row:not(.columns_fluid) > .column-1_1, .row:not(.columns_fluid) > .column-2_2, .row:not(.columns_fluid) > .column-3_3, .row:not(.columns_fluid) > .column-4_4,
	.row:not(.columns_fluid) > .column-5_5,	.row:not(.columns_fluid) > .column-6_6, .row:not(.columns_fluid) > .column-7_7, .row:not(.columns_fluid) > .column-8_8,
	.row:not(.columns_fluid) > .column-9_9, .row:not(.columns_fluid) > .column-10_10,
	.row:not(.columns_fluid) > .column-11_11, .row:not(.columns_fluid) > .column-12_12,
	.columns_wrap:not(.columns_fluid) > .column-1_1, .columns_wrap:not(.columns_fluid) > .column-2_2, .columns_wrap:not(.columns_fluid) > .column-3_3,
	.columns_wrap:not(.columns_fluid) > .column-4_4, .columns_wrap:not(.columns_fluid) > .column-5_5, .columns_wrap:not(.columns_fluid) > .column-6_6,
	.columns_wrap:not(.columns_fluid) > .column-7_7, .columns_wrap:not(.columns_fluid) > .column-8_8, .columns_wrap:not(.columns_fluid) > .column-9_9,
	.columns_wrap:not(.columns_fluid) > .column-10_10, .columns_wrap:not(.columns_fluid) > .column-11_11, .columns_wrap:not(.columns_fluid) > .column-12_12,
	.row:not(.columns_fluid) > .column-1_3:nth-child(3n), .columns_wrap:not(.columns_fluid) > .column-1_3:nth-child(3n),
	.row:not(.columns_fluid) > .column-2_3, .columns_wrap:not(.columns_fluid) > .column-2_3,
	.row:not(.columns_fluid) > .column-1_3.after_span_2, .columns_wrap:not(.columns_fluid) > .column-1_3.after_span_2,
	.row:not(.columns_fluid) > .column-2_4, .columns_wrap:not(.columns_fluid) > .column-3_4,
	.row:not(.columns_fluid) > .column-1_4.after_span_2, .columns_wrap:not(.columns_fluid) > .column-1_4.after_span_3,
	.row:not(.columns_fluid) > .column-1_5:nth-child(5n), .columns_wrap:not(.columns_fluid) > .column-1_5:nth-child(5n),
	.row:not(.columns_fluid) > .column-2_5, .columns_wrap:not(.columns_fluid) > .column-2_5,
	.row:not(.columns_fluid) > .column-3_5, .columns_wrap:not(.columns_fluid) > .column-3_5,
	.row:not(.columns_fluid) > .column-4_5, .columns_wrap:not(.columns_fluid) > .column-4_5,
	.row:not(.columns_fluid) > .column-2_6, .columns_wrap:not(.columns_fluid) > .column-2_6,
	.row:not(.columns_fluid) > .column-3_6, .columns_wrap:not(.columns_fluid) > .column-3_6,
	.row:not(.columns_fluid) > .column-4_6, .columns_wrap:not(.columns_fluid) > .column-4_6,
	.row:not(.columns_fluid) > .column-5_6, .columns_wrap:not(.columns_fluid) > .column-5_6	{
		width:100%;
	}
	.row:not(.columns_fluid) > [class*="column-"]:nth-child(2n+3), .columns_wrap:not(.columns_fluid) > [class*="column-"]:nth-child(2n+3),
	.row:not(.columns_fluid) > [class*="column-"]:nth-child(2n+4), .columns_wrap:not(.columns_fluid) > [class*="column-"]:nth-child(2n+4) {
		padding-top: 20px;
	}
	.comments_form .row:not(.columns_fluid) > [class*="column-"]:nth-child(2n+3),
	.comments_form .columns_wrap:not(.columns_fluid) > [class*="column-"]:nth-child(2n+3),
	.comments_form .row:not(.columns_fluid) > [class*="column-"]:nth-child(2n+4),
	.comments_form .columns_wrap:not(.columns_fluid) > [class*="column-"]:nth-child(2n+4) {
		padding-top: 0px;
	}
	
	.woocommerce.columns-3 ul.products li.product, .woocommerce-page.columns-3 ul.products li.product,
	.woocommerce ul.products li.product.column-1_3, .woocommerce-page ul.products li.product.column-1_3,
	.woocommerce.columns-4 ul.products li.product, .woocommerce-page.columns-4 ul.products li.product,
	.woocommerce ul.products li.product.column-1_4, .woocommerce-page ul.products li.product.column-1_4,
	.woocommerce.columns-5 ul.products li.product, .woocommerce-page.columns-5 ul.products li.product,
	.woocommerce ul.products li.product.column-1_5, .woocommerce-page ul.products li.product.column-1_5,
	.woocommerce.columns-6 ul.products li.product, .woocommerce-page.columns-6 ul.products li.product,
	.woocommerce ul.products li.product.column-1_6, .woocommerce-page ul.products li.product.column-1_6 {
		width: 50%;
	}
	.woocommerce .list_products.shop_mode_list ul.products li.product,
	.woocommerce-page .list_products.shop_mode_list ul.products li.product {
		width:100%;
	}
	.woocommerce ul.products li.first, .woocommerce-page ul.products li.first {
		clear: none;
	}
	.woocommerce ul.products li:nth-child(2n+3), .woocommerce-page ul.products li:nth-child(2n+3) {
		clear: both;
	}

	.gallery.gallery-columns-9 .gallery-item {	width: 33.3333% !important; }
	.gallery.gallery-columns-8 .gallery-item {	width: 33.3333% !important; }
	.gallery.gallery-columns-7 .gallery-item {	width: 33.3333% !important; }
	.gallery.gallery-columns-6 .gallery-item {	width: 33.3333% !important; }
	.gallery.gallery-columns-5 .gallery-item {	width: 33.3333% !important; }
	.gallery.gallery-columns-4 .gallery-item {	width: 33.3333% !important; }
	

	/* Top Panel */
	.top_panel_top_user_area {
		float:none;
		clear:both;
		width:100%;
	}
	.top_panel_top_socials {
		float:left;
		margin-left:0;
		margin-right:4.5em;
	}
	.top_panel_top_contact_area,
	.top_panel_top_search,
	.top_panel_top_user_area .menu_user_nav {
		margin-top:0.5em;
	}
	.top_panel_top_search {
		padding-top: 0.1em;
		margin-right:1em;
	}
	.top_panel_top_search .search_field {
		max-width:4em;
	}
	.top_panel_style_3 .top_panel_top_socials {
		margin-right:2em;
	}

	.top_panel_style_1 .top_panel_top_socials,
	.top_panel_style_1 .top_panel_top_open_hours,
	.top_panel_style_2 .top_panel_top_socials,
	.top_panel_style_2 .top_panel_top_open_hours,
	.top_panel_style_3 .top_panel_top_socials {
		margin-top: 0.5em;
	}
	.top_panel_style_1 .menu_user_nav > li > a,
	.top_panel_style_2 .menu_user_nav > li > a,
	.top_panel_style_3 .menu_user_nav > li > a {
		padding-top: 0;
		padding-bottom:0;
	}

	.top_panel_style_3 .search_results {
		top: 3em;
	}
	
	.top_panel_middle .logo {
		font-size:0.875em;
	}
	.top_panel_middle .logo img {
		max-height:40px;
	}
	
	.top_panel_style_1 .contact_logo {
		width:100%;
	}
	.top_panel_style_1 .logo {
		text-align:center;
	}
	.top_panel_style_1 .contact_field {
		text-align:center;
		margin-top:1em;
		margin-bottom:2em;
		padding-top:0 !important;
		width:33.3333% !important;
	}
	.top_panel_style_2 .contact_field {
		margin:1em 0;
	}
	.top_panel_style_2 .contact_field,
	.top_panel_style_2 .contact_phone > span+span {
		text-align:center;
	}
	.top_panel_style_1 .contact_field .contact_icon,
	.top_panel_style_2 .contact_field .contact_icon {
		float: none;
		margin-right:auto;
		margin-left:auto;
		margin-bottom:0.3em;
	}

	.top_panel_title .page_title,
	.top_panel_title .post_navi,
 	.top_panel_title .breadcrumbs {
		max-width: 100% !important;
		float:none;
		text-align:center;
	}
	.top_panel_title.title_present .breadcrumbs {
		padding: 0 0 1.5em 0 !important;
	}

	/* Posts layouts */
	.post_featured_left > .post_featured,
	.post_featured_right > .post_featured {
		float: none;
		margin-left: 0;
		margin-bottom: 2em;
		width: 100%;
	}

	.isotope_wrap .isotope_item_colored .post_item .hover_icon,
	.isotope_wrap .isotope_item_grid .post_item .hover_icon,
	.isotope_wrap .isotope_item_square .post_item .hover_icon,
	.isotope_wrap .isotope_item_portfolio .post_item .hover_icon {
		display:none;
	}
	.ih-item.square.effect1.bottom_to_top .info .post_title {
		margin-top:35% !important;
	}
	
	.post_item_colored .post_category {
		max-height:1.2em;
		overflow:hidden;
	}
	.post_item_colored .post_descr .post_price {
		margin-top: 1.2em;
	}
	.post_item_colored .post_info_wrap .post_button + .post_button {
		margin-left:0.4em;
	}
	.post_item_colored .post_featured .post_title, .post_item_colored .post_featured .post_descr {
		padding:4px 8px;
	}

	.ih-item.square.effect_dir .info .post_title {
		margin-top:4% !important;
	}

	.isotope_wrap .isotope_item_colored_1 .post_featured {
		float:none;
		width:100%;
	}
	.isotope_wrap .isotope_item_colored_1 .post_description {
		padding-left: 2em;
		padding-bottom: 2em;
	}
	

	.comments_list_wrap ul ul ul {
		/* padding-left:0; */
		margin-left:0;
	}
	
	/* Reviews block */
	.reviews_block {
		width:100%; 
	}
	.content .reviews_block {
		float:none;
		margin-left:0;
	}

	/* Widgets */
	td, th {
		padding:2px;
	}
	.widget_area .post_item .post_title {
		margin-top:0;
	}
	.widget_area .sc_tabs.sc_tabs_style_2 .sc_tabs_titles li + li {
		margin-left:0.4em;
	}
	.widget_area .sc_tabs.sc_tabs_style_2 .sc_tabs_titles li a {
		padding: 2px 0.5em;
	}

	.sc_recent_news_header_split .sc_recent_news_header_captions,
	.sc_recent_news_header_split .sc_recent_news_header_categories {
		width:100%;
		padding-right:0;
		text-align:left;
	}
	.sc_recent_news_header_split .sc_recent_news_header_categories {
		margin-top:1em;
	}
	.sc_recent_news_header_split .sc_recent_news_header_categories > * {
		margin: 0 1em 0 0;
	}
	.sc_recent_news_style_news-announce .post_item {		float:none; }
	.sc_recent_news_style_news-announce .post_size_full {	width: 100%; height: 112px; }
	.sc_recent_news_style_news-announce .post_size_big {	width: 100%; height: 112px; }
	.sc_recent_news_style_news-announce .post_size_medium {	width: 100%; height: 112px;  }
	.sc_recent_news_style_news-announce .post_size_small {	width: 100%; height: 112px; }
	body.sidebar_hide .sc_recent_news_style_news-announce .post_size_full {	width: 100%; height: 112px; }
	body.sidebar_hide .sc_recent_news_style_news-announce .post_size_big {	width: 100%; height: 112px;  }
	body.sidebar_hide .sc_recent_news_style_news-announce .post_size_medium,
	body.sidebar_hide .sc_recent_news_style_news-announce .post_size_small {	width: 100%; height: 112px;  }
	.sc_recent_news_style_news-announce .post_size_full .post_featured { max-height: 100%; }
	.sc_recent_news_style_news-announce .post_size_big .post_featured { max-height: 100%; }
	.sc_recent_news_style_news-announce .post_size_medium .post_featured { max-height: 100%; }
	.sc_recent_news_style_news-announce .post_size_small .post_featured { max-height: 100%; }
	.sc_recent_news_style_news-excerpt .post_featured {
		float:none;
		padding-right:0;
		margin-bottom:1.5em;
		width: 100%;
	}
	.sc_recent_news_style_news-excerpt .post_body {
		float:none;
		width:100%;
	}
	

	/* Woocommerce */
	.woocommerce-shipping-fields {
		margin-top: 2em;
	}
	.woocommerce ul.products, .woocommerce-page ul.products {
		margin-right:-20px;
	}
	.woocommerce.columns-1 ul.products li.product, .woocommerce-page.columns-1 ul.products li.product,
	.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
		padding: 0 20px 20px 0;
	}
	.woocommerce .widget_price_filter .price_label {
		font-size: 1em;
	}
	.woocommerce ul.products li.product .price, .woocommerce-page ul.products li.product .price {
		font-size: 1em;
	}
	.top_panel_wrap .widget_shopping_cart ul.cart_list > li > a:not(.remove) {
		margin-top:-0.15em;
	}
	.woocommerce table.cart img, .woocommerce #content table.cart img, .woocommerce-page table.cart img, .woocommerce-page #content table.cart img {
		width: 50px;
	}
	.woocommerce table.cart td, .woocommerce #content table.cart td, .woocommerce-page table.cart td, .woocommerce-page #content table.cart td {
		padding: 6px;
	}
	.woocommerce #content table.cart td.actions .coupon, .woocommerce table.cart td.actions .coupon, .woocommerce-page #content table.cart td.actions .coupon, .woocommerce-page table.cart td.actions .coupon {
		float:left;
	}
	.woocommerce #content table.cart td.actions .button, .woocommerce table.cart td.actions .button, .woocommerce-page #content table.cart td.actions .button, .woocommerce-page table.cart td.actions .button {
		width: auto;
	}
	.woocommerce #content table.cart td.actions > .button, .woocommerce table.cart td.actions > .button, .woocommerce-page #content table.cart td.actions > .button, .woocommerce-page table.cart td.actions > .button {
		float: right;
	}


	/* BuddyPress */
	#buddypress #item-nav {
		float:none;
		margin-bottom:2em;
		width:auto;
		display:inline-block;
	}
	#buddypress #item-nav ul {
		overflow:hidden;
	}
	#buddypress #item-nav ul li {
		float:left;
	}


    /* HTML5 Player */
    #myplayer .ttw-music-player .album-cover {
        width: 100%;
        float: none;
		overflow:hidden;
    }
    #myplayer .ttw-music-player .album-cover .img {
		position: static;
		max-height:none;
		margin-top:0;
	}
    #myplayer .ttw-music-player .album-cover img {
		max-width:none;
	}
    #myplayer .ttw-music-player .tracklist {
        position: relative;
        margin-left: 0;
        padding: 0;
        top: 0;
    }
	

	
	/* Shortcodes */
	.sc_accordion.sc_accordion_style_2 .sc_accordion_item .sc_accordion_title .sc_accordion_icon {
		border-width: 1px;
	}
	.sc_tabs.sc_tabs_style_1 .sc_tabs_titles li.ui-state-active a:after,
	.sc_tabs.sc_tabs_style_1 .sc_tabs_titles li.sc_tabs_active a:after {
		height:2px;
	}
	input.sc_button_size_large[type="submit"], input.sc_button_size_large[type="button"], button.sc_button_size_large, .sc_button.sc_button_size_large {
		padding: 1em 1.25em;
	}
	input.sc_button_size_medium[type="submit"], input.sc_button_size_medium[type="button"], button.sc_button_size_medium, .sc_button.sc_button_size_medium {
		padding: 0.8em 1em;
	}
	input[type="submit"]:before, input[type="button"]:before, button:before, .sc_button:before {
		margin-right:4px;
	}

	.sc_blogger.layout_date.sc_blogger_horizontal .sc_blogger_item {
		min-width: 33.3333%;
		margin-bottom: 1em;
	}

/*	.sc_googlemap {
		max-height:250px;
	}
	.sc_googlemap_content {
		position:static;
		width: auto;
	}*/
	
/*
	.sc_slider, .sc_slider .swiper_slide {
		max-height:210px;
	}
*/

	.sc_socials_type_icons.sc_socials_shape_round.sc_socials_size_small a,
	.sc_socials_type_icons.sc_socials_shape_round.sc_socials_size_small a .sc_socials_hover {
		width:2.5em;
		height:2.5em;
		line-height:2.5em;
	}
	.sc_socials.sc_socials_size_small .social_icons span {
		font-size:1.2em;
	}

	.sc_tabs .sc_tabs_titles li a {
		padding: 0.5em;
	}
	.sc_twitter_item {
		padding:0 3em;
	}
	.sc_twitter .sc_slider_controls_wrap a {
		font-size: 1.5em;
	}

	.sc_services_style_services-5 .sc_service_container .columns_wrap > .column-1_2 {
		width: 50%;
		max-width: 50%;
	}
	.sc_services_style_services-5 .sc_service_container .columns_wrap > .column-1_2 .sc_services_item {
		margin-right: 0%;
	}
	.sc_services_style_services-5 .sc_service_container .columns_wrap > .column-1_2:nth-child(2n) .sc_services_item {
		margin-left: 0%;
		margin-right: 0;
	}
	.sc_services_style_services-5 .sc_service_container .sc_services_image,
	.sc_services_style_services-5 .sc_service_container.sc_align_left .sc_services_image,
	.sc_services_style_services-5 .sc_service_container.sc_align_right .sc_services_image	{
		position: relative;
		width: 100%;
		left: 0%;
		top: 0%;
		transform: translateY(0%) translateX(0%);
		margin-bottom: 2.2857em;
	}
	.sc_services_style_services-5 .sc_service_container .sc_icon, 
	.sc_services_style_services-5.sc_services_type_images .sc_service_container .sc_services_item_featured,
	.sc_services_style_services-5 .sc_service_container.sc_align_right .columns_wrap > .column-1_2:nth-child(2n) .sc_icon,
	.sc_services_style_services-5.sc_services_type_images .sc_service_container.sc_align_right .columns_wrap > .column-1_2:nth-child(2n) .sc_services_item_featured	{
		float: left;
		margin-right: 2.2857em;
		margin-left: 0;
	}
	.sc_services_style_services-5 .sc_service_container .columns_wrap > .column-1_2 .sc_services_item_content,
	.sc_services_style_services-5 .sc_service_container.sc_align_right .columns_wrap > .column-1_2 .sc_services_item_content	{
		text-align: left;
	}
	
	.sc_services_style_services-5 .sc_service_container.sc_align_left .columns_wrap,
	.sc_services_style_services-5 .sc_service_container.sc_align_right .columns_wrap 	{
		margin-left: 0;
		margin-right: 0;
	}
	.sc_services_style_services-5 .sc_services_button {
		margin-top: 2.2857em;
	}

	.sc_promo_block {
		min-width: 50%;
	}
	.sc_promo_block_inner {
		padding: 3em;
	}

	/* Scroll to Top */
	.scroll_to_top {
		right: 1em;
	}
	.scroll_to_top.show {
		bottom: 1em;
	}
	
	/* YREG_ESTATE Profiler */
	.yreg_estate_profiler {
		display:none;
	}
}




/*
Very common low res
*/
@media (max-width: 479px) {

	/* Body sizes */
/*	.body_style_boxed .page_wrap {		width:100%; }
	.slider_boxed, .content_wrap, .content_container {	width:280px; }*/

	/* Content and Sidebar */
/*	.sidebar_show .content { width: 100%; float: none; }
	.sidebar_show .sidebar { width: 100%; float: none; margin-top: 2em; }*/
	
	/* Fullwide or Fullscreen with sidebar */
/*	.body_style_fullwide.sidebar_right .content, .body_style_fullscreen.sidebar_right .content { padding-right: 0 !important; }
	.body_style_fullwide.sidebar_right .sidebar, .body_style_fullscreen.sidebar_right .sidebar { margin-left: 0 !important; }
	.body_style_fullwide.sidebar_left  .content, .body_style_fullscreen.sidebar_left  .content { padding-left:  0 !important; }
	.body_style_fullwide.sidebar_left  .sidebar, .body_style_fullscreen.sidebar_left  .sidebar { margin-right: 0 !important; }*/

	/* WooCommerce: Content and Sidebar */
	.woocommerce.sidebar_show .content { width: 100%; float: none; }
	.woocommerce .sidebar { 			 width: 100%; float: none; }
	
	.article_style_boxed .sidebar,
	.body_filled .sidebar[class*="scheme_"] {
		margin-top:10px;
	}
	
	.widget_area aside {
		display: block;
		float:none;
		width:100%;
		margin-left:0 !important;
	}
	.widget_area aside+aside {
		padding-top:1em;
		/*border-top:1px solid #f4f7f9;*/
		margin-top:1em;
	}

	/* Grid */
	.container, .container-fluid {
		padding-left:  5px;
		padding-right: 5px;
	}
	.row, .columns_wrap {
		margin-right: -10px;
	}
	.row > [class*="column-"], .columns_wrap > [class*="column-"] {
		padding-right: 10px;
	}
	.row.column_padding_left, .columns_wrap.column_padding_left {
		margin-left: -10px;
	}
	.row.column_padding_left > [class*="column-"], .columns_wrap.column_padding_left > [class*="column-"],
	.row > [class*="column-"].column_padding_left, .columns_wrap > [class*="column-"].column_padding_left {
		padding-left: 10px;
	}
	.row.column_padding_right, .columns_wrap.column_padding_right {
		margin-right: -10px;
	}
	.row.column_padding_right > [class*="column-"], .columns_wrap.column_padding_right > [class*="column-"],
	.row > [class*="column-"].column_padding_right, .columns_wrap > [class*="column-"].column_padding_right {
		padding-right:10px;
	}
	.row.column_padding_center, .columns_wrap.column_padding_center {
		margin-left: -5px;
		margin-right: -5px;
	}
	.row.column_padding_center > [class*="column-"], .columns_wrap.column_padding_center > [class*="column-"],
	.row > [class*="column-"].column_padding_center, .columns_wrap > [class*="column-"].column_padding_center {
		padding-left:10px;
	}
	.row > [class*="column-"].column_padding_bottom, .columns_wrap > [class*="column-"].column_padding_bottom {
		padding-bottom: 10px;
	}

	/* Columns relayout (no columns) */
	.row:not(.columns_fluid) > [class*="column-"], .columns_wrap:not(.columns_fluid) > [class*="column-"] {
		width:100%;
	}
	.row.columns_fluid > [class*="column-"], .columns_wrap.columns_fluid > [class*="column-"] {
		width:50%;
	}
	.row.columns_fluid > .column-1_1, .row.columns_fluid > .column-2_2, .row.columns_fluid > .column-3_3, .row.columns_fluid > .column-4_4, .row.columns_fluid > .column-5_5,
	.row.columns_fluid > .column-6_6, .row.columns_fluid > .column-7_7, .row.columns_fluid > .column-8_8, .row.columns_fluid > .column-9_9, .row.columns_fluid > .column-10_10,
	.row.columns_fluid > .column-11_11, .row.columns_fluid > .column-12_12,
	.columns_wrap.columns_fluid > .column-1_1, .columns_wrap.columns_fluid > .column-2_2, .columns_wrap.columns_fluid > .column-3_3,
	.columns_wrap.columns_fluid > .column-4_4, .columns_wrap.columns_fluid > .column-5_5, .columns_wrap.columns_fluid > .column-6_6,
	.columns_wrap.columns_fluid > .column-7_7, .columns_wrap.columns_fluid > .column-8_8, .columns_wrap.columns_fluid > .column-9_9,
	.columns_wrap.columns_fluid > .column-10_10, .columns_wrap.columns_fluid > .column-11_11, .columns_wrap.columns_fluid > .column-12_12,
	.row.columns_fluid > .column-1_3:nth-child(3n), .columns_wrap.columns_fluid > .column-1_3:nth-child(3n),
	.row.columns_fluid > .column-2_3, .columns_wrap.columns_fluid > .column-2_3,
	.row.columns_fluid > .column-1_3.after_span_2, .columns_wrap.columns_fluid > .column-1_3.after_span_2,
	.row.columns_fluid > .column-2_4, .columns_wrap.columns_fluid > .column-3_4,
	.row.columns_fluid > .column-1_4.after_span_2, .columns_wrap.columns_fluid > .column-1_4.after_span_3,
	.row.columns_fluid > .column-1_5:nth-child(5n), .columns_wrap.columns_fluid > .column-1_5:nth-child(5n),
	.row.columns_fluid > .column-2_5, .columns_wrap.columns_fluid > .column-2_5,
	.row.columns_fluid > .column-3_5, .columns_wrap.columns_fluid > .column-3_5,
	.row.columns_fluid > .column-4_5, .columns_wrap.columns_fluid > .column-4_5,
	.row.columns_fluid > .column-2_6, .columns_wrap.columns_fluid > .column-2_6,
	.row.columns_fluid > .column-3_6, .columns_wrap.columns_fluid > .column-3_6,
	.row.columns_fluid > .column-4_6, .columns_wrap.columns_fluid > .column-4_6,
	.row.columns_fluid > .column-5_6, .columns_wrap.columns_fluid > .column-5_6	{
		width:100%;
	}
	.row:not(.columns_fluid) > [class*="column-"]+[class*="column-"], .columns_wrap:not(.columns_fluid) > [class*="column-"]+[class*="column-"],
	.row.columns_fluid > [class*="column-"]:nth-child(2n+3), .columns_wrap.columns_fluid > [class*="column-"]:nth-child(2n+3),
	.row.columns_fluid > [class*="column-"]:nth-child(2n+4), .columns_wrap.columns_fluid > [class*="column-"]:nth-child(2n+4) {
		padding-top: 10px;
	}
	.comments_form .row:not(.columns_fluid) > [class*="column-"]+[class*="column-"],
	.comments_form .columns_wrap:not(.columns_fluid) > [class*="column-"]+[class*="column-"],
	.comments_form .comments_form .row.columns_fluid > [class*="column-"]:nth-child(2n+3),
	.comments_form .columns_wrap.columns_fluid > [class*="column-"]:nth-child(2n+3),
	.comments_form .comments_form .row.columns_fluid > [class*="column-"]:nth-child(2n+4),
	.comments_form .columns_wrap.columns_fluid > [class*="column-"]:nth-child(2n+4) {
		padding-top: 0px;
	}

	.gallery.gallery-columns-9 .gallery-item {	width: 50% !important; }
	.gallery.gallery-columns-8 .gallery-item {	width: 50% !important; }
	.gallery.gallery-columns-7 .gallery-item {	width: 50% !important; }
	.gallery.gallery-columns-6 .gallery-item {	width: 50% !important; }
	.gallery.gallery-columns-5 .gallery-item {	width: 50% !important; }
	.gallery.gallery-columns-4 .gallery-item {	width: 50% !important; }
	.gallery.gallery-columns-3 .gallery-item {	width: 50% !important; }
	
	.woocommerce[class*="column-"] ul.products li.product, .woocommerce-page[class*="column-"] ul.products li.product,
	.woocommerce ul.products li.product[class*="column-"], .woocommerce-page ul.products li.product[class*="column-"],
	.woocommerce .related ul li.product, .woocommerce .related ul.products li.product, .woocommerce .upsells.products ul li.product,
	.woocommerce .upsells.products ul.products li.product, .woocommerce-page .related ul li.product, .woocommerce-page .related ul.products li.product,
	.woocommerce-page .upsells.products ul li.product, .woocommerce-page .upsells.products ul.products li.product {
		width: 100%;
		float:none;
	}

	/* Top Panel */
	.top_panel_top_contact_area,
	.top_panel_top_open_hours,
	.top_panel_top_user_area,
	.top_panel_top_socials {
		float:none;
		clear:both;
		width:100%;
		text-align:center;
		margin:0.5em 0 0 0;
	}
	.top_panel_top_user_area .menu_user_nav {
		display:inline-block;
		float: none;
		margin-top:-0.5em;
	}
	.top_panel_top .search_field {
		max-width:3em;
	}
	.top_panel_top_socials {
		line-height:1em;
	}
	.top_panel_top_socials .sc_socials_item {
		margin-right:1.4em !important;
	}
	.top_panel_top_user_area .menu_user_nav li {
		text-align:left;
	}
	.top_panel_top_user_area .menu_user_nav > li > a {
		padding:0.5em 0;
	}
	
	.top_panel_middle .logo {
		font-size:0.875em;
	}
	.top_panel_middle .logo img {
		max-height:40px;
	}
	
	.top_panel_style_1 .contact_logo {
		width:100%;
	}
	.top_panel_style_1 .logo {
		text-align:center;
	}
	.top_panel_style_1 .contact_field {
		text-align:center;
		margin-top:1em;
		margin-bottom:2em;
		padding-top:0 !important;
		width:33.3333% !important;
	}
	.top_panel_style_1 .contact_field .contact_icon {
		float: none;
		margin-right:auto;
		margin-left:auto;
		margin-bottom:0.3em;
	}
	.top_panel_style_2 .contact_logo,
	.top_panel_style_2 .contact_field {
		width:100% !important;
	}
	.top_panel_style_2 .contact_logo {
		margin:0;
		padding:0 !important;
	}
	.top_panel_style_2 .contact_logo .logo {
		margin:0;
	}
	.top_panel_style_2 .logo {
		text-align:center;
	}
	.top_panel_style_2 .contact_field {
		text-align:center;
		margin:1.5em 0;
		padding:0 !important;
	}
	.top_panel_style_2 .contact_phone > span+span {
		text-align:center;
	}
	.top_panel_style_2 .contact_field .contact_icon {
		float: none;
		margin-right:auto;
		margin-left:auto;
	}

	.top_panel_title .page_title,
	.top_panel_title .post_navi,
 	.top_panel_title .breadcrumbs {
		max-width: 100% !important;
		float:none;
		text-align:center;
	}
	.top_panel_title.title_present .breadcrumbs {
		padding: 0 0 1.5em 0 !important;
	}

	.menu_user_nav > li {
		float: none;
		display:inline-block;
	}

	.top_panel_style_3 .top_panel_top_search,
	.top_panel_style_3 .menu_user_nav {
		margin-top: 0;
		line-height:1.2857em;
	}
	.top_panel_style_3 .top_panel_top_search {
		padding-top: 0;
	}
	.top_panel_style_3 .search_submit,
	.top_panel_style_3 .search_field {
		padding-top: 0.5em;
		padding-bottom: 0.5em;
	}
	.top_panel_style_3 .search_results {
		right: auto;
		left:0;
		top: 3em;
	}
	.top_panel_style_3 .search_results:after {
		right: auto;
		left:4em;
	}
	.top_panel_style_5 .top_panel_middle .sidebar_cart,
	.top_panel_style_6 .top_panel_middle .sidebar_cart {
		right:-100px;
	}
	.top_panel_style_5 .top_panel_middle .sidebar_cart:after,
	.top_panel_style_6 .top_panel_middle .sidebar_cart:after {
		right:46%;
		left:auto;
	}

	.top_panel_style_8 .contact_logo {
		display:block;
		position:static;
		left: auto;
		top:auto;
		-webkit-transform:none;
		   -moz-transform:none;
				transform:none;
		padding: 2em 0 0 0;
		text-align:center;
	}

	/* Login and Register */
	.popup_wrap {
		width: 300px;
		left: 50%;
		-webkit-transform:translateX(-55%);
		   -moz-transform:translateX(-55%);
			-ms-transform:translateX(-55%);
				transform:translateX(-55%);
	}
	.popup_wrap .popup_form_field .forgot_password {
		float: none;
		display:block;
		margin-bottom:0.5em;
	}
	.popup_wrap .login_socials_title {
		font-size:1.25em;
	}
	.popup_wrap input[type="text"], .popup_wrap input[type="email"], .popup_wrap input[type="password"] {
		font-size:1em;
	}

	/* Posts layouts */
	.post_featured_left > .post_featured,
	.post_featured_right > .post_featured {
		float: none;
		margin-left: 0;
		margin-bottom: 2em;
		width: 100%;
	}

	.isotope_wrap {
		margin-right:-10px;
	}
	.isotope_wrap .isotope_item {
		padding-right:10px;
		padding-bottom:10px;
		width:100% !important;
	}
	.sc_scroll_horizontal .sc_blogger .isotope_item,
	.sc_scroll_horizontal .sc_blogger [class*=column-],
	.sc_blogger .sc_scroll_horizontal .isotope_item,
	.sc_blogger .sc_scroll_horizontal [class*=column-] {
		width: 290px !important;
	}

	.isotope_wrap .isotope_item_colored_1 .post_featured {
		float:none;
		width:100%;
	}
	.isotope_wrap .isotope_item_colored_1 .post_description {
		padding-left: 2em;
		padding-bottom: 2em;
	}
	
	
	/* Reviews block */
	.reviews_block {
		width:100%; 
	}
	.content .reviews_block {
		float:none;
		margin-left:0;
	}
	
	/* Comments */
	.comments_list_wrap ul ul {
		/* padding-left:0; */
		margin-left:0;
	}
	.comments_list_wrap ul.children {
		padding-left: 0;
	}
	
	/* Widgets */
	td, th {
		padding:2px;
	}
	.widget_area .post_item .post_title {
		margin-top:0;
	}
	.widget_area .sc_tabs.sc_tabs_style_2 .sc_tabs_titles li + li {
		margin-left:0.4em;
	}
	.widget_area .sc_tabs.sc_tabs_style_2 .sc_tabs_titles li a {
		padding: 2px 0.5em;
	}
	

	/* Woocommerce */
	.woocommerce-shipping-fields {
		margin-top: 2em;
	}
	.woocommerce ul.products, .woocommerce-page ul.products {
		margin-right:-20px;
	}
	.woocommerce.columns-1 ul.products li.product, .woocommerce-page.columns-1 ul.products li.product,
	.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
		padding: 0 20px 20px 0;
	}
	.woocommerce .widget_price_filter .price_label {
		font-size: 1em;
	}
	.woocommerce ul.products li.product .price, .woocommerce-page ul.products li.product .price {
		font-size: 1em;
	}
	.top_panel_wrap .widget_shopping_cart ul.cart_list > li > a:not(.remove) {
		margin-top:-0.15em;
	}
	.woocommerce div.product .woocommerce-tabs ul.tabs li {
		padding:0;
	}
	.woocommerce table.cart img, .woocommerce #content table.cart img, .woocommerce-page table.cart img, .woocommerce-page #content table.cart img {
		width: 40px;
	}
	.woocommerce table.cart td, .woocommerce #content table.cart td, .woocommerce-page table.cart td, .woocommerce-page #content table.cart td {
		padding: 4px;
	}
	.woocommerce #content table.cart td.actions .coupon, .woocommerce table.cart td.actions .coupon, .woocommerce-page #content table.cart td.actions .coupon, .woocommerce-page table.cart td.actions .coupon {
		float:left;
	}
	.woocommerce #content table.cart td.actions .coupon, .woocommerce table.cart td.actions .coupon, .woocommerce-page #content table.cart td.actions .coupon, .woocommerce-page table.cart td.actions .coupon {
		float:left;
	}
	.woocommerce #content table.cart td.actions .button, .woocommerce table.cart td.actions .button, .woocommerce-page #content table.cart td.actions .button, .woocommerce-page table.cart td.actions .button {
		width: auto;
	}
	.woocommerce #content table.cart td.actions .button.alt, .woocommerce #content table.cart td.actions .input-text + .button, .woocommerce table.cart td.actions .button.alt, .woocommerce table.cart td.actions .input-text + .button, .woocommerce-page #content table.cart td.actions .button.alt, .woocommerce-page #content table.cart td.actions .input-text + .button, .woocommerce-page table.cart td.actions .button.alt, .woocommerce-page table.cart td.actions .input-text + .button {
		float:left;
}
	.woocommerce #content table.cart td.actions > .button, .woocommerce table.cart td.actions > .button, .woocommerce-page #content table.cart td.actions > .button, .woocommerce-page table.cart td.actions > .button {
		float: right;
	}

	/* BuddyPress */
	#buddypress #item-nav {
		float:none;
		margin-bottom:2em;
		width:auto;
		display:inline-block;
	}
	#buddypress #item-nav ul {
		overflow:hidden;
	}
	#buddypress #item-nav ul li {
		float:left;
	}

    /* HTML5 Player */
    #myplayer .ttw-music-player .album-cover {
        width: 100%;
        float: none;
		overflow:hidden;
    }
	#myplayer .ttw-music-player .album-cover,
	#myplayer .ttw-music-player .album-cover .highlight {
		height: 100px;
	}
    #myplayer .ttw-music-player .album-cover .img {
		position: static;
		max-height:none;
		margin-top:0;
	}
    #myplayer .ttw-music-player .album-cover img {
		max-width:none;
	}
    #myplayer .ttw-music-player .tracklist {
        position: relative;
        margin-left: 0;
        padding: 0;
        top: 0;
    }
	
	
	/* Shortcodes */
	.sc_accordion.sc_accordion_style_2 .sc_accordion_item .sc_accordion_title .sc_accordion_icon {
		border-width: 1px;
	}
	input.sc_button_size_large[type="submit"], input.sc_button_size_large[type="button"], button.sc_button_size_large, .sc_button.sc_button_size_large {
		padding: 1em 1.25em;
	}
	input.sc_button_size_medium[type="submit"], input.sc_button_size_medium[type="button"], button.sc_button_size_medium, .sc_button.sc_button_size_medium {
		padding: 0.8em 1em;
	}
	input[type="submit"]:before, input[type="button"]:before, button:before, .sc_button:before {
		margin-right:4px;
	}

	.sc_blogger.layout_date.sc_blogger_horizontal .sc_blogger_item {
		min-width: 50%;
		margin-bottom: 1em;
	}

	.sc_form .sc_form_field {
		float: none;
		width: 100%;
		padding-left:0 !important;
	}

	.sc_googlemap {
		max-height:200px;
	}
	.sc_googlemap_content {
		position:static;
		width: auto;
	}

/*	.sc_price_block .sc_price_block_description {
    	height: 5.5em;
	}*/
/*
	.sc_slider, .sc_slider .swiper_slide {
		max-height:130px;
	}
*/
	.sc_socials_type_icons.sc_socials_shape_round.sc_socials_size_small a,
	.sc_socials_type_icons.sc_socials_shape_round.sc_socials_size_small a .sc_socials_hover {
		width:2.5em;
		height:2.5em;
		line-height:2.5em;
	}
	.sc_socials.sc_socials_size_small .social_icons span {
		font-size:1.2em;
	}
	.sc_tabs .sc_tabs_titles li a {
		padding: 0.5em;
	}
	.sc_tabs.sc_tabs_style_1 .sc_tabs_titles li.ui-state-active a:after,
	.sc_tabs.sc_tabs_style_1 .sc_tabs_titles li.sc_tabs_active a:after {
		height:2px;
	}
	.sc_twitter_item {
		padding:0 3em;
	}
	.sc_twitter .sc_slider_controls_wrap a {
		font-size: 1.5em;
	}
	.sc_video_player.sc_video_bordered .sc_video_frame {
		max-width:198px;
	}
	
	.sc_services_style_services-5 .columns_wrap > .column-1_3 {
		width: 100%;
		max-width: 100%;
	}
	.sc_services_style_services-5 .sc_service_container .columns_wrap > .column-1_2 .sc_services_item {
		margin-right: 0%;
	}
	.sc_services_style_services-5 .sc_service_container .columns_wrap > .column-1_2:nth-child(2n) .sc_services_item {
		margin-left: 0%;
		margin-right: 0;
	}
	.sc_services_style_services-5 .sc_service_container .sc_services_image,
	.sc_services_style_services-5 .sc_service_container.sc_align_left .sc_services_image,
	.sc_services_style_services-5 .sc_service_container.sc_align_right .sc_services_image	{
		position: relative;
		width: 100%;
		left: 0%;
		top: 0%;
		transform: translateY(0%) translateX(0%);
		margin-bottom:2.2857em;
	}
	.sc_services_style_services-5 .sc_service_container .sc_icon, 
	.sc_services_style_services-5.sc_services_type_images .sc_service_container .sc_services_item_featured,
	.sc_services_style_services-5 .sc_service_container.sc_align_right .columns_wrap > .column-1_2:nth-child(2n) .sc_icon,
	.sc_services_style_services-5.sc_services_type_images .sc_service_container.sc_align_right .columns_wrap > .column-1_2:nth-child(2n) .sc_services_item_featured	{
		float: left;
		margin-right: 2.2857em;
		margin-left: 0;
	}
	.sc_services_style_services-5 .sc_service_container .columns_wrap > .column-1_2 .sc_services_item_content,
	.sc_services_style_services-5 .sc_service_container.sc_align_right .columns_wrap > .column-1_2 .sc_services_item_content	{
		text-align: left;
	}
	
	.sc_services_style_services-5 .sc_service_container.sc_align_left .columns_wrap,
	.sc_services_style_services-5 .sc_service_container.sc_align_right .columns_wrap 	{
		margin-left: 0;
		margin-right: 0;
	}
	.sc_services_style_services-5 .sc_services_button {
		margin-top: 2.2857em;
	}
	
	.sc_promo_block {
		min-width: 100%;
		margin: 0 !important;
		float:none;
	}
	.sc_promo_block_inner {
		padding: 2em;
	}
	.sc_promo_image {
		position: relative;
		height: 200px;
		min-width: 100%;
	}
	.sc_promo_block.sc_align_left *,
	.sc_promo_block.sc_align_left *:after {
		text-align: center !important;
		margin-left: auto;
	}
	.sc_promo_block.sc_align_right *,
	.sc_promo_block.sc_align_right *:after {
		text-align: center !important;
		margin-right: auto;
	}

	/* Scroll to Top */
	.scroll_to_top {
		right: 1em;
	}
	.scroll_to_top.show {
		bottom: 1em;
	}
	
	/* YREG_ESTATE Profiler */
	.yreg_estate_profiler {
		display:none;
	}
}


@media (max-width: 782px) {
	.admin-bar.top_panel_over .top_panel_wrap {	top:46px; }
	.admin-bar.top_panel_fixed .top_panel_wrap { top:46px; }
	.admin-bar #debug_log { top:46px; }
	.admin-bar .pushy .close-pushy::before { top: 3em;	}
	.admin-bar .pushy .pushy_inner {		padding-top: 4em; }
	.admin-bar .pushy .logo {				margin-bottom: 1em;	}
}

@media (max-width: 599px) {
	.admin-bar.top_panel_over .top_panel_wrap {	top: 46px; }
	.admin-bar.top_panel_fixed .top_panel_wrap { top: 0; }
	.admin-bar #debug_log { top: 46px; }
}






@media (max-width: 1440px) {}


@media (max-width: 1366px) {}


@media (max-width: 1263px) {
	
	/* Body sizes */
	.body_style_boxed .page_wrap {width:1200px;}
	.slider_boxed, .content_wrap, .content_container {width:1140px;}

	/* Content and Sidebar */
	.sidebar_show .content {width: 760px;}
	.sidebar {width: 350px;}
	
	.sidebar_inner.widget_area_inner aside {
		padding-left: 30px;
		padding-right: 30px;
	}
	
	.custom_box_form {
		max-width: 485px;
		padding: 5em 0 5em 6em;
	}
	
	.custom_box_form {max-width: 485px;}
	
	
}


@media (max-width: 1200px) {
	
	/* Body sizes */
	.body_style_boxed .page_wrap {width:1130px;}
	.slider_boxed, .content_wrap, .content_container {width:1070px;}

	/* Content and Sidebar */
	.sidebar_show .content {width: 690px;}
	.sidebar {width: 350px;}
	
	.custom_box_form {max-width: 450px;padding: 5em 0 5em 6em;}
	
	.custom_box_right {max-width: 505px;}
	.custom_box_left {max-width: 505px;}
	
	
	
}


@media (max-width: 1136px) {
	
	html, body {	font-size: 13px; }
	
	/* Body sizes */
	.body_style_boxed .page_wrap {width:1020px;}
	.slider_boxed, .content_wrap, .content_container {width:960px;}

	/* Content and Sidebar */
	.sidebar_show .content {width: 630px;}
	.sidebar {width: 300px;}
	
	.post_content.isotope_item_content .post_info:first-of-type {margin: 0;}
	
	
	blockquote {font-size: 1.750em;}
	.bgtext1 {font-size: 155px;left: -25px;top: -56px;}
	.contacts_emailer_wrap .sc_emailer_content {min-height: 2.7em;}
	.contacts_emailer_wrap .sc_emailer_title {line-height: 2.3em;}
	.contacts_emailer_wrap .sc_emailer_input {font-size: 1.086em !important; line-height: 1.55em !important;}
	
	.custom_box_form {max-width: 440px;padding: 4em 0 4em 3em; background-image: none;}
	.custom_box_right {max-width: 450px;}
	.custom_box_left {max-width: 450px;}
	
	.sc_property.sc_property_style_property-1 .property_price_box {padding: 0.4em 1em;}
	.sc_property.sc_property_style_property-2 .property_price_box {padding: 0.4em 1em;}
	.sc_property.sc_property_style_property-2 .ps_single_info .sc_property_info_list {padding-top: 0.7em;}
	
}


@media (max-width: 1024px) {
	
	/* Body sizes */
	.body_style_boxed .page_wrap {width:100%;}
	.slider_boxed, .content_wrap, .content_container {width:890px;}

	/* Content and Sidebar */
	.sidebar_show .content {width: 560px;}
	.sidebar {width: 300px;}
	
	.post_content.isotope_item_content .post_info:first-of-type + p {display: none;}
	.bgtext1 {font-size: 155px;left: -15px;top: -56px;}
	
	.custom_box_form {max-width: 405px;padding: 3em 0 3em 3em;}
	.custom_box_right {max-width: 415px;}
	.custom_box_left {max-width: 415px;}
	
	.sc_testimonials_style_testimonials-2 .sc_testimonial_content {font-size: 2em;}
	.sc_skills_pie .sc_skills_column .sc_skills_item {padding: 0;}
	
	
	.sc_property.sc_property_style_property-1 .sc_property_info .sc_property_title .sc_property_title_address_1,
	.content > .sc_property_item .sc_property_info .sc_property_title .sc_property_title_address_1 {
		font-size: 1.5em;
	}
	.sc_property_info_list span {margin-right: 0.85em;}
	
	
	
	
}


@media (max-width: 960px) {
	
	/* Body sizes */
	.body_style_boxed .page_wrap {width:100%;}
	.slider_boxed, .content_wrap, .content_container {width:700px;}

	/* Content and Sidebar */
	.sidebar_show .content {width: 100%; float: none;}
	.sidebar {width: 100%; float: none; margin-top: 3em;}
	
	.page_content_wrap {padding-bottom: 3em;}
	.post_content.isotope_item_content .post_info:first-of-type + p {display: block;}
	
	.sidebar_inner.widget_area_inner aside {
		padding-left: 15px;
		padding-right: 15px;
	}
	
	/* Content */
	blockquote {font-size: 1.500em;}
	
	.custom_box_form {max-width: 325px;padding: 2em 0 2em 2em;}
	.custom_box_right {max-width: 320px;}
	.custom_box_left {max-width: 320px;}
	
	.hRight .custom_box_right {max-width: 700px !important; width: 700px !important; padding: 0 !important; margin: 0 auto;}
	.hRight .vc_col-sm-6 {width: 100% !important;}
	
	
	.sc_form .sc_form_button { margin-top: 2em;}
	.sc_services_style_services-1 .sc_services_item .sc_services_item_title {height: auto;}
	.sc_skills_pie .sc_skills_column .sc_skills_item {padding: 0;}
	
	
	/* trx_property_search */
	.sc_property_search .sc_ps_status,
	.sc_property_search .sc_ps_location,
	.sc_property_search .sc_ps_type,
	.sc_property_search .sc_ps_style,
	.sc_property_search .sc_ps_bedrooms,
	.sc_property_search .sc_ps_bathrooms,
	.sc_property_search .sc_ps_area,
	.sc_property_search .sc_ps_price,
	.sc_property_search .sc_ps_submit {
		width: 48.7%;
		margin-right: 2.564%;
	}
	.sc_property_search .sc_ps_submit {
		width: 100%;
	}
	.sc_property_search .sc_ps_location,
	.sc_property_search .sc_ps_style,
	.sc_property_search .sc_ps_bathrooms,
	.sc_property_search .sc_ps_price,
	.sc_property_search .sc_ps_submit {
		margin-right: 0;
	}
	.sc_property_info_list span {margin-right: 1.5em;}
	.sidebar aside.gooo { width: 95.7%; }
	

	.vc_col-sm-6 .sc_property.sc_property_style_property-2 .ps_single_info .sc_property_info_list {padding-top: 4em;}
	.sc_property.sc_property_style_property-1 .column-1_3 .sc_property_info_list .icon-building113 {display: block; padding-bottom: 0.5em;}
	.customImgHome1 { margin-top: 11em;}
	
	
	/* Footer */
	.contacts_emailer_wrap { padding:2em 0 3em;  }
	.contacts_emailer_wrap .sc_emailer_title { float: none; font-size: 1.25em;}
	
}


@media (max-width: 768px) {
	
	/* Body sizes */
	.slider_boxed, .content_wrap, .content_container {width:570px;}
	.sidebar aside.gooo { width: 94.8%; }
	/* Content */
	.contacts_wrap .column-2_4 {padding-bottom: 0;}
	.post_content.isotope_item_content .post_info:first-of-type + p {display: none;}
	
	.maxHBox [class*="column-"], .maxHBox [class*="column-"] { margin: 0; }
	.custom_box_form {max-width: 259px;padding: 2em 0 2em 2em;}
	.sc_form .sc_form_button { margin-top: 1em;}
	
	.custom_box_right {max-width: 255px;}
	.custom_box_left {max-width: 255px;}
	
	.hRight .custom_box_right {max-width: 570px !important; width: 570px !important; padding: 0 !important; margin: 0 auto;}
	
	
	.sc_image { height: auto !important;}
	.sc_team.sc_team_style_team-1 .sc_team_item img { width: 100%;}
	
	.customImgHome1 { margin-top: 12em;}
	
	
	.sc_property.sc_property_style_property-1 .sc_property_info .sc_property_title .sc_property_title_address_1,
	.content > .sc_property_item .sc_property_info .sc_property_title .sc_property_title_address_1 {
		font-size: 1.25em;
	}
	.sc_property_info_list span {margin-right: 0.85em;}
	.bgtext1 {font-size: 100px; left: -15px;top: -30px;}
	
	.contacts_wrap .column-2_4 {padding-bottom: 2em;}
	
	.sc_team.sc_team_style_team-1 .sc_team_item .sc_team_item_info .sc_team_item_title {font-size: 1.5em;}
	
	
	.sc_price_block_money .sc_price .sc_price_currency,
	.sc_price_block_money .sc_price .sc_price_money {
		font-size: 2.56em;
	}
	
	.linear_gradient {
		background: rgba(240,241,245,1);
		background: -moz-linear-gradient(-65deg, rgba(240,241,245,1) 0%, rgba(240,241,245,1) 70%, rgba(255,255,255,1) 30%, rgba(255,255,255,1) 100%);
		background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(240,241,245,1)), color-stop(70%, rgba(240,241,245,1)), color-stop(30%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,1)));
		background: -webkit-linear-gradient(-65deg, rgba(240,241,245,1) 0%, rgba(240,241,245,1) 70%, rgba(255,255,255,1) 30%, rgba(255,255,255,1) 100%);
		background: -o-linear-gradient(-65deg, rgba(240,241,245,1) 0%, rgba(240,241,245,1) 70%, rgba(255,255,255,1) 30%, rgba(255,255,255,1) 100%);
		background: -ms-linear-gradient(-65deg, rgba(240,241,245,1) 0%, rgba(240,241,245,1) 70%, rgba(255,255,255,1) 30%, rgba(255,255,255,1) 100%);
		background: linear-gradient(115deg, rgba(240,241,245,1) 0%, rgba(240,241,245,1) 70%, rgba(255,255,255,1) 30%, rgba(255,255,255,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f1f5', endColorstr='#ffffff', GradientType=1 );
	}

	.post_item_404 .page_title {margin-top: 0;}
	.post_item_404 .page_description {margin-bottom: 1.5em;}
	
	.post_item_portfolio_3 .ih-item.square .info .post_title {font-size: 0.75em;}
	.post_item_portfolio_3 .ih-item.square.effect_more .info p {font-size: 0.75em;}
	
	.eec .eg-washington-element-0,
	.eec .eg-washington-element-1 {

	}
	
	.eec .eg-washington-element-3 {
		display: none !important;
	}
	
	
	.sc_accordion .sc_accordion_item .sc_accordion_title {
		line-height: 1.15em;
	}
	
	
	
}


@media (max-width: 640px) {
	
	html, body {	font-size: 12px; }
	.sidebar aside.gooo { width: 93.3%; }
	/* Body sizes */
	.slider_boxed, .content_wrap, .content_container {width:450px;}
	
	/* Content */
	.post_content.isotope_item_content .post_info:first-of-type {display: none;}
	.contacts_emailer_wrap .sc_emailer_content {min-height: 2.2em;}
	.contacts_emailer_wrap .sc_emailer_form input {margin-top: 0.3em; padding-right: 150px !important;}
	
	.sc_slider_controls_wrap a {font-size: 2em;}
	.sc_slider_swiper .sc_slider_pagination_wrap span {width: 1.5em;}
	
	.custom_box_form {max-width: 200px;}
	
	.custom_box_left {
		max-width: 450px;
		margin: 0 auto;
		padding-right: 0;
		float: none;
	}
	.custom_box_right {
		max-width: 450px !important;
		margin: 0 auto;
		padding-left: 0;
	}
	.hRight .custom_box_right {max-width: 450px !important; width: 450px !important; padding: 0 !important; margin: 0 auto;}
	
	.vc_col-sm-6 .sc_property.sc_property_style_property-2 .ps_single_info .sc_property_info_list {padding-top: 0.7em;}
	
	.sc_testimonials_style_testimonials-1 .sc_testimonial_content {font-size: 1.5em;}
	.sc_property_info_list span.icon-building113 { display: block;}
	.single.single-property .ps_single_info .property_price_box {
		float: none;
		display: inline-block;
	}
	.ps_single_info .sc_property_info_list {padding-top: 1.5em;}
	.bgtext1 {font-size: 75px; left: -5px;top: -20px;}
	
	.customImgHome1 { margin-top: 14em;}
	
	.contacts_wrap .column-2_4 {padding-bottom: 0;}
	
	
	
}


@media (max-width: 480px) {
	
	.custom_box_form {max-width: 210px; padding-left: 1em;}
	
}


@media (max-width: 479px) {
	
	html, body {	font-size: 11px; }
	.sidebar aside.gooo { width: 90%; }
	
	/* Body sizes */
	.slider_boxed, .content_wrap, .content_container {width:300px;}
	
	.widget_area aside {
		width: auto;
	}
	
	/* Content */
	.contacts_emailer_wrap .sc_emailer_form input {padding-right: 110px !important;}
	.custom_box_form {max-width: 300px; padding-left: 0; margin: 0 auto;}
	.sc_services_style_services-1 .sc_services_item {padding-top: 3em;}
	.sc_services_style_services-1 .sc_services_item .sc_services_item_content {padding-top: 3em;}
	.post_content.isotope_item_content .post_info:first-of-type {display: block;}
	.post_content.isotope_item_content .post_info:first-of-type + p {display: block;}
	
	.customImgHome1 { margin-top: 0em;}
	
	.contacts_wrap .logo {margin-bottom: 0;}
	.sc_property_info_list span.icon-building113 { display: inline-block;}
	.vc_col-sm-6 .sc_property.sc_property_style_property-2 .ps_single_info .sc_property_info_list {padding-top: 5em;}
	.sc_property.sc_property_style_property-1 .column-1_3 .sc_property_info_list .icon-building113 {display: inline-block; padding-bottom: 0;}
	
	.custom_box_left {max-width: 300px;}
	.custom_box_right {max-width: 300px;}
	.hRight .custom_box_right {max-width: 300px !important;}
	
	.isotope_wrap .isotope_item .post_featured {
		margin-bottom:1em;
	}
	
	
	.contacts_wrap .sc_socials { padding-bottom: 1em;}
	
	.sc_property.sc_property_style_property-1 .sc_property_info .sc_property_title .sc_property_title_address_2, 
	.content > .sc_property_item .sc_property_info .sc_property_title .sc_property_title_address_2 {
		margin-top: 0px;
	}
	
	.post_content.isotope_item_content {padding-bottom: 2em;}
	.sidebar.widget_area { margin-top: 2em !important;}
	
	.sc_accordion .sc_accordion_item .sc_accordion_title {line-height: 1.1em;}
	
	.post_item_404 .page_title {font-size: 10em;}
	.post_item_404 .page_subtitle {font-size: 1.5em;line-height: 1.5em;}
	
	.sc_price_block.sc_price_block_style_1 {margin: 0 10%;}
	.sc_price_block.sc_price_block_style_2 {margin: 0 10%;}
	
	.sc_testimonial_item {padding: 0 2em;}
	.sc_testimonials .sc_testimonial_avatar {
		height: 5em;
		width: 5em;
	}
	.sc_services_style_services-1 {padding: 6em 0;}
	
	.post_item_portfolio_3 .ih-item.square .info .post_title {font-size: 1.25em;}
	.post_item_portfolio_3 .ih-item.square.effect_more .info p {font-size: 1em;}
	
}


@media (max-width: 320px) {}





/* Predefined Theme Margins */
@media (max-width: 1136px) {
	
	h1 { font-size:3.462em; }	/* 45px */
	h2 { font-size:2.538em; }	/* 33px */
	h3 { font-size:2.154em; }	/* 28px */
	h4 { font-size:1.538em; }	/* 20px */
	h5 { font-size:1.000em; }	/* 13px */
	h6 { font-size:1.000em; }	/* 13px */
	
	input[type="submit"],
	input[type="button"],
	button,
	.sc_button_box {
		padding: 0.500em 3.000em;
	}
	
	.margin_top_small {			margin-top:18px !important; }
	.margin_top_xmedium {		margin-top:22px !important; }
	.margin_top_medium {		margin-top:31px !important; }
	.margin_top_large {			margin-top:48px !important; }
	.margin_top_xlarge {		margin-top:60px !important; }
	.margin_top_xxlarge {		margin-top:86px !important; }
	.margin_top_huge {			margin-top:99px !important; }
	.margin_bottom_small {		margin-bottom:18px !important; }
	.margin_bottom_xmedium {	margin-bottom:22px !important; }
	.margin_bottom_medium {		margin-bottom:31px !important; }
	.margin_bottom_large {		margin-bottom:48px !important; }
	.margin_bottom_xlarge {		margin-bottom:60px !important; }
	.margin_bottom_xxlarge {	margin-bottom:86px !important; }
	.margin_bottom_huge {		margin-bottom:99px !important; }
	
	
	h1.margin_top_small { margin-top:9px !important; }
	h1.margin_top_medium { margin-top:21px !important; }
	h1.margin_top_large { margin-top:39px !important; }
	h1.margin_bottom_small { margin-bottom:12px !important; }
	h1.margin_bottom_medium { margin-bottom:25px !important; }
	h1.margin_bottom_large { margin-bottom:42px !important; }

	h2.margin_top_small { margin-top:13px !important; }
	h2.margin_top_medium { margin-top:26px !important; }
	h2.margin_top_large { margin-top:43px !important; }
	h2.margin_bottom_small { margin-bottom:15px !important; }
	h2.margin_bottom_medium { margin-bottom:28px !important; }
	h2.margin_bottom_large { margin-bottom:45px !important; }

	h3.margin_top_small { margin-top:14px !important; }
	h3.margin_top_medium { margin-top:27px !important; }
	h3.margin_top_large { margin-top:44px !important; }
	h3.margin_bottom_small { margin-bottom:16px !important; }
	h3.margin_bottom_medium { margin-bottom:29px !important; }
	h3.margin_bottom_large { margin-bottom:46px !important; }

	h4.margin_top_small { margin-top:19px !important; }
	h4.margin_top_medium { margin-top:32px !important; }
	h4.margin_top_large { margin-top:49px !important; }
	h4.margin_bottom_small { margin-bottom:19px !important; }
	h4.margin_bottom_medium { margin-bottom:32px !important; }
	h4.margin_bottom_large { margin-bottom:49px !important; }

	h5.margin_top_small { margin-top:21px !important; }
	h5.margin_top_medium { margin-top:33px !important; }
	h5.margin_top_large { margin-top:51px !important; }
	h5.margin_bottom_small { margin-bottom:19px !important; }
	h5.margin_bottom_medium { margin-bottom:31px !important; }
	h5.margin_bottom_large { margin-bottom:49px !important; }

	h6.margin_top_small { margin-top:20px !important; }
	h6.margin_top_medium { margin-top:33px !important; }
	h6.margin_top_large { margin-top:50px !important; }
	h6.margin_bottom_small { margin-bottom:18px !important; }
	h6.margin_bottom_medium { margin-bottom:31px !important; }
	h6.margin_bottom_large { margin-bottom:48px !important; }
	
}
@media (max-width: 640px) {
	
	h1 { font-size:3.417em; }	/* 41px */
	h2 { font-size:2.583em; }	/* 31px */
	h3 { font-size:2.000em; }	/* 26px */
	h4 { font-size:1.583em; }	/* 19px */
	h5 { font-size:1.000em; }	/* 13px */
	h6 { font-size:1.000em; }	/* 13px */
	
	input[type="submit"],
	input[type="button"],
	button,
	.sc_button_box {
		padding: 0.300em 2.000em;
	}
	
	.margin_top_small {			margin-top:15px !important; }
	.margin_top_xmedium {		margin-top:19px !important; }
	.margin_top_medium {		margin-top:26px !important; }
	.margin_top_large {			margin-top:40px !important; }
	.margin_top_xlarge {		margin-top:50px !important; }
	.margin_top_xxlarge {		margin-top:71px !important; }
	.margin_top_huge {			margin-top:83px !important; }
	.margin_bottom_small {		margin-bottom:15px !important; }
	.margin_bottom_xmedium {	margin-bottom:19px !important; }
	.margin_bottom_medium {		margin-bottom:26px !important; }
	.margin_bottom_large {		margin-bottom:40px !important; }
	.margin_bottom_xlarge {		margin-bottom:50px !important; }
	.margin_bottom_xxlarge {	margin-bottom:71px !important; }
	.margin_bottom_huge {		margin-bottom:83px !important; }
	
	h1.margin_top_small { margin-top:7px !important; }
	h1.margin_top_medium { margin-top:18px !important; }
	h1.margin_top_large { margin-top:32px !important; }
	h1.margin_bottom_small { margin-bottom:10px !important; }
	h1.margin_bottom_medium { margin-bottom:21px !important; }
	h1.margin_bottom_large { margin-bottom:35px !important; }

	h2.margin_top_small { margin-top:11px !important; }
	h2.margin_top_medium { margin-top:21px !important; }
	h2.margin_top_large { margin-top:36px !important; }
	h2.margin_bottom_small { margin-bottom:13px !important; }
	h2.margin_bottom_medium { margin-bottom:24px !important; }
	h2.margin_bottom_large { margin-bottom:38px !important; }

	h3.margin_top_small { margin-top:11px !important; }
	h3.margin_top_medium { margin-top:22px !important; }
	h3.margin_top_large { margin-top:36px !important; }
	h3.margin_bottom_small { margin-bottom:14px !important; }
	h3.margin_bottom_medium { margin-bottom:24px !important; }
	h3.margin_bottom_large { margin-bottom:39px !important; }

	h4.margin_top_small { margin-top:16px !important; }
	h4.margin_top_medium { margin-top:26px !important; }
	h4.margin_top_large { margin-top:41px !important; }
	h4.margin_bottom_small { margin-bottom:16px !important; }
	h4.margin_bottom_medium { margin-bottom:27px !important; }
	h4.margin_bottom_large { margin-bottom:41px !important; }

	h5.margin_top_small { margin-top:17px !important; }
	h5.margin_top_medium { margin-top:28px !important; }
	h5.margin_top_large { margin-top:42px !important; }
	h5.margin_bottom_small { margin-bottom:17px !important; }
	h5.margin_bottom_medium { margin-bottom:28px !important; }
	h5.margin_bottom_large { margin-bottom:42px !important; }

	h6.margin_top_small { margin-top:16px !important; }
	h6.margin_top_medium { margin-top:27px !important; }
	h6.margin_top_large { margin-top:41px !important; }
	h6.margin_bottom_small { margin-bottom:16px !important; }
	h6.margin_bottom_medium { margin-bottom:27px !important; }
	h6.margin_bottom_large { margin-bottom:41px !important; }
	
}
@media (max-width: 479px) {
	
	h1 { font-size:3.455em; }	/* 38px */
	h2 { font-size:2.545em; }	/* 28px */
	h3 { font-size:2.182em; }	/* 24px */
	h4 { font-size:1.545em; }	/* 17px */
	h5 { font-size:1.000em; }	/* 13px */
	h6 { font-size:1.000em; }	/* 13px */
	
	input[type="submit"],
	input[type="button"],
	button,
	.sc_button_box {
		padding: 0.250em 1.500em;
	}
	
	.margin_top_small {			margin-top:12px !important; }
	.margin_top_xmedium {		margin-top:15px !important; }
	.margin_top_medium {		margin-top:21px !important; }
	.margin_top_large {			margin-top:32px !important; }
	.margin_top_xlarge {		margin-top:40px !important; }
	.margin_top_xxlarge {		margin-top:57px !important; }
	.margin_top_huge {			margin-top:66px !important; }
	.margin_bottom_small {		margin-bottom:12px !important; }
	.margin_bottom_xmedium {	margin-bottom:15px !important; }
	.margin_bottom_medium {		margin-bottom:21px !important; }
	.margin_bottom_large {		margin-bottom:32px !important; }
	.margin_bottom_xlarge {		margin-bottom:40px !important; }
	.margin_bottom_xxlarge {	margin-bottom:57px !important; }
	.margin_bottom_huge {		margin-bottom:66px !important; }
	
	h1.margin_top_small { margin-top:6px !important; }
	h1.margin_top_medium { margin-top:14px !important; }
	h1.margin_top_large { margin-top:26px !important; }
	h1.margin_bottom_small { margin-bottom:8px !important; }
	h1.margin_bottom_medium { margin-bottom:17px !important; }
	h1.margin_bottom_large { margin-bottom:28px !important; }

	h2.margin_top_small { margin-top:9px !important; }
	h2.margin_top_medium { margin-top:17px !important; }
	h2.margin_top_large { margin-top:29px !important; }
	h2.margin_bottom_small { margin-bottom:10px !important; }
	h2.margin_bottom_medium { margin-bottom:19px !important; }
	h2.margin_bottom_large { margin-bottom:30px !important; }

	h3.margin_top_small { margin-top:9px !important; }
	h3.margin_top_medium { margin-top:18px !important; }
	h3.margin_top_large { margin-top:29px !important; }
	h3.margin_bottom_small { margin-bottom:11px !important; }
	h3.margin_bottom_medium { margin-bottom:19px !important; }
	h3.margin_bottom_large { margin-bottom:31px !important; }

	h4.margin_top_small { margin-top:13px !important; }
	h4.margin_top_medium { margin-top:21px !important; }
	h4.margin_top_large { margin-top:33px !important; }
	h4.margin_bottom_small { margin-bottom:13px !important; }
	h4.margin_bottom_medium { margin-bottom:22px !important; }
	h4.margin_bottom_large { margin-bottom:33px !important; }

	h5.margin_top_small { margin-top:14px !important; }
	h5.margin_top_medium { margin-top:22px !important; }
	h5.margin_top_large { margin-top:34px !important; }
	h5.margin_bottom_small { margin-bottom:14px !important; }
	h5.margin_bottom_medium { margin-bottom:22px !important; }
	h5.margin_bottom_large { margin-bottom:34px !important; }

	h6.margin_top_small { margin-top:13px !important; }
	h6.margin_top_medium { margin-top:22px !important; }
	h6.margin_top_large { margin-top:33px !important; }
	h6.margin_bottom_small { margin-bottom:13px !important; }
	h6.margin_bottom_medium { margin-bottom:22px !important; }
	h6.margin_bottom_large { margin-bottom:33px !important; }
	
}




.BConsult { display: none !important;}

/* List Media */
@media (max-width: 1440px) {}

@media (max-width: 1366px) {
	
	
	.rev_slider .sc_property.sc_property_style_property-4 {margin-left: 40px !important;}
	
	.rev_slider .sc_property.sc_property_style_property-5 .pr_info_list {padding: 45px 0 40px !important;}
	
	.rev_slider .custom_form_slider {margin-right: 40px !important;}
	
}

@media (max-width: 1263px) {
	
}

@media (max-width: 1200px) {
	
	.rev_slider .sc_property.sc_property_style_property-4 {margin-left: 85px !important;}
	
	.rev_slider .custom_form_slider {margin-right: 85px !important;}
	
}

@media (max-width: 1136px) {
	
	.top_panel_menu { margin-top: 7px !important;}
	
	
	
	/*.sc_property.sc_property_style_property-6 .sc_pr_t1 a {font-size: 0.8em !important;}*/
	.uranus.tparrows::before {font-size: 30px;}


	.rev_slider .sc_property.sc_property_style_property-4 {
		font-size: 12px !important;}

	.rev_slider .sc_property.sc_property_style_property-5 .pr_info_list {padding: 35px 0 30px !important;}
	.rev_slider .sc_property.sc_property_style_property-5 .pr_info_list span {font-size: 40px !important; margin-right: 15px !important;}
	.rev_slider .sc_property.sc_property_style_property-5 .pr_info_list_var {font-size: 25px !important;}
	.rev_slider .sc_property.sc_property_style_property-5 .pr_info_list_text {font-size: 12px !important;}
	
	.rev_slider .sc_property.sc_property_style_property-6 {
		font-size: 12px !important;}
	
}

@media (max-width: 1024px) {
	
	.rev_slider .sc_property.sc_property_style_property-4 {
		font-size: 10px !important;
		margin-left: 85px !important;}
	.rev_slider .sc_property.sc_property_style_property-4 {
		font-size: 10px !important;}
	
	.rev_slider .custom_form_slider {margin-right: 85px !important;}
	
	.rev_slider .sc_property.sc_property_style_property-6 {
		font-size: 10px !important;}
	
	
	.post_content.isotope_item_content .post_title { font-size:1.5em; }	/* 28px */
}

@media (max-width: 960px) {
	
	.rev_slider .sc_property.sc_property_style_property-6 { padding-top: 5em !important;}
	
	.top_panel_contacts_left {
		float: none;
		display: block;
		text-align: center;
		padding-top: 1em;
	}
	.top_panel_contacts_right {
		float: none;
		display: block;
		text-align: center;
		padding-bottom: 0.7em;
	}
	.top_panel_menu {
		width: 700px;
		padding-top: 1em;
	}
	
	
	
	.rev_slider .sc_property.sc_property_style_property-4 {
			margin-left: 135px !important;}

	.rev_slider .sc_property.sc_property_style_property-5 .pr_info_list {padding: 25px 0 20px !important;}
	.rev_slider .sc_property.sc_property_style_property-5 .pr_info_list span {font-size: 30px !important; margin-right: 5px !important;}
	.rev_slider .sc_property.sc_property_style_property-5 .pr_info_list_var {font-size: 20px !important;}
	.rev_slider .sc_property.sc_property_style_property-5 .pr_info_list_text {font-size: 8px !important; padding-top: 0 !important;}
	
	.rev_slider .custom_form_slider {display: none;}
	.BConsult { display: block !important;}
	
}

@media (max-width: 768px) {
	
	.top_panel_menu {width: 570px;}
	.top_panel_menu .menu_main_nav > li > a {margin-right: 2.5em;}
	.top_panel_contacts .contact_email {margin-right: 0;}
	.top_panel_menu .menu_main_nav > li.menu-item-has-children > a::after {right: 17px;}
	.top_panel_contacts_left {padding-top: 1.1em;}
	
	.sc_columns_count_3.col3-50 .sc_column_item_3 {
		width: 50% !important;
	}
	
}

@media (max-width: 640px) {
	
	.rev_slider .sc_property.sc_property_style_property-6 { padding-top: 3em !important;}
	.top_panel_menu {width: 450px;}
	.top_panel_menu {padding-top:0; padding-bottom: 1em;}
	.top_panel_contacts_left, .top_panel_contacts_right { text-align: left; padding-top: 0; padding-bottom: 0;}
	.top_panel_contacts_left .contact_phone,
	.top_panel_contacts_left .contact_email {text-align: left;line-height: 2em;}
	.top_panel_contacts { border-bottom: none;}
	
	.sc_property.sc_property_style_property-6 {font-size: 12px !important;}
	.sc_property.sc_property_style_property-6 .sc_pr_t1 {width: 400px !important; white-space: normal !important;}
	.sc_property.sc_property_style_property-6 .sc_pr_t1 a { white-space: normal !important; font-size: 0.7em !important;}
	
	
	.rev_slider .sc_property.sc_property_style_property-5 .pr_info_list {padding: 25px 0 20px !important;}
	.rev_slider .sc_property.sc_property_style_property-5 .pr_info_list span {font-size: 25px !important; margin-right: 5px !important;}
	.rev_slider .sc_property.sc_property_style_property-5 .pr_info_list_var {font-size: 16px !important; padding-top: 10px !important;}
	.rev_slider .sc_property.sc_property_style_property-5 .pr_info_list_text { display: none !important;}
	
	
}

@media (max-width: 480px) {
	
	.slider_alias_revsliderHome3 .rev_slider .sc_property.sc_property_style_property-4 {margin-top: 50px !important;}
	.rev_slider .sc_property.sc_property_style_property-4 {
		font-size: 8px !important;
		margin-left: 25px !important;}
	.sc_property.sc_property_style_property-4 .sc_property_info .sc_property_title .sc_property_title_address_1 {
		font-weight: normal !important;}
	
	.sc_property.sc_property_style_property-6 .sc_pr_t1 {width: 350px !important;}
	.sc_property.sc_property_style_property-6 .sc_pr_t2 { font-size: 1.5em !important;}
	
}

@media (max-width: 479px) {
	
	.top_panel_menu {width: 300px;}
	
	.top_panel_wrap .top_panel_logo {
		float: none;
		width: 100%;
		margin: 0;
		padding-top: 1em;
		padding-bottom: 1em;
	}
	
	.top_panel_wrap .logo_main {max-height: 75px;}
	
	.top_panel_contacts_right { text-align: center;}
	.rev_slider .sc_property.sc_property_style_property-6 { padding-top: 16em !important;}
	.rev_slider .sc_property.sc_property_style_property-6 .sc_pr_t1 {width: 300px !important;}

	
	.top_panel_over .rev_slider .sc_property.sc_property_style_property-4 {
			margin-left: 10px !important;
			margin-top: 70px !important;
			width: 300px !important;
			white-space: normal !important;}
	
	.rev_slider .sc_property.sc_property_style_property-4 {
			width: 270px !important;
			max-width: 270px !important;
			white-space: normal !important;
	}
	
	
	.rev_slider .sc_property.sc_property_style_property-5 .pr_info_list {width: 25% !important;}
	.rev_slider .sc_property.sc_property_style_property-5 .pr_info_list_build {display: none !important;}
	.rev_slider .sc_property.sc_property_style_property-5 .pr_info_list span {
		font-size: 20px !important; 
		margin-right: 3px !important;}
	.rev_slider .sc_property.sc_property_style_property-5 .pr_info_list_var {
		font-size: 16px !important; 
		font-weight: normal !important;
		padding-top: 3px !important;}
	
	
	.mobile-box h1 {margin-top: 60px;}
	.sc_table {overflow-y: scroll;}
	
	.top_panel_title .page_title {padding: 1.567em 0 0.75em !important;}
	.top_panel_title.title_present .breadcrumbs {padding: 0 0 3em !important;}
	
	
	.sc_columns_count_3.col3-50 .sc_column_item_3 {
		width: 100% !important;
	}
	.isotope_wrap .isotope_item .post_featured {
		margin-bottom: 0;
	}
	.post_content.isotope_item_content {
		padding-bottom: 0;
		margin-bottom: 2em;
	}
	
	
}

@media (max-width: 320px) {
	
	.rev_slider .sc_property.sc_property_style_property-6 { padding-top: 20em !important;}
	
}


/* List Media */
@media (max-width: 1440px) {}
@media (max-width: 1366px) {}
@media (max-width: 1263px) {}
@media (max-width: 1200px) {}
@media (max-width: 1136px) {}
@media (max-width: 1024px) {}
@media (max-width: 960px) {}
@media (max-width: 768px) {}
@media (max-width: 640px) {}
@media (max-width: 480px) {}
@media (max-width: 479px) {}
@media (max-width: 320px) {}


